<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">

  <h:head>
 	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
   <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

    <title></title>
    <style type="text/css">
      body {
              position: relative;
            }
      ul.nav-pills {
            top: 20px;
            position: fixed;
          }

      .icon {
            width: 30px;
            margin-right: 15px;
      }
       
     

          @media only screen and (max-width: 1630px) {
              .logoText {
              font-size: 12px!important;
              padding-left: 39px!important;
              margin-top: -24px!important;
              }

              .logoResponsive{
                width: 234px!important;
              }
        }

         @media only screen and (max-width: 1510px) {
              .logoText {
              font-size: 11px!important;
              padding-left: 41px!important;
              margin-top: -24px!important;
              }

              .logoResponsive{
                width: 222px!important;
              }
        }
         @media only screen and (max-width: 1440px) {
              .logoText {
              font-size: 10px!important;
              padding-left: 36px!important;
              margin-top: -17px!important;
              }

              .logoResponsive{
                width: 200px!important;
              }
        }


    </style>
  </h:head>
  <h:body style="background-color: #f8f9fa">
        <div class="container-fluid">
          <div class="row">
            <nav class="col-2" style="background-color: #E0EAFC; height: 100vh; position: fixed; box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.60); width: 280px; ">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <img class="logoResponsive" style="width: 250px;" src="logo.png"/>
                  <h1 class="logoText" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 40px;">
                  <a class="nav-link active" href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="transferTable.xhtml"><img class="icon" src="table-solid.svg"/>Transfers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a>
                </li>
                <li class="nav-item" style="border-top: 1px solid gray;">
                  <a class="nav-link" href="management.xhtml"><img class="icon" src="cogs-solid.svg"/>Management</a>
                </li>
              </ul>
            </nav>
            <div class="col-12" style="margin-left: 280px;flex: auto;">
              <div id="section1" >    
                <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;">Central Warehouse Dashboard</h1>
                
                <div>
                 <div>                 
                
               
                  </div>
                </div>

                </div>
              </div>
              
          </div>
        </div>


  
  </h:body>
  </html>