<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
   xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
  

 	<script src= "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity= "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin= "anonymous" ></script>
 	<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity= "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin= "anonymous" ></script>
 	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity= "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin= "anonymous" ></script>
 
      <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10, chrome=1" />
    </f:facet>
  <meta charset= "utf-8" />
 	<meta name= "viewport" content= "width=device-width, initial-scale=1, shrink-to-fit=no" />

 	<link rel= "stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity= "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin= "anonymous"/>
 	<title></title>

 	<style type="text/css">
 		body {
			height: 100%;
			width: 100%;
			background: #ECE9E6;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}

		header {
			text-align: center;
			margin: 30px 0px 140px 0;
			width: 100%;
			height: 100px;
		}

		#mycard-width {
			width: 200px;
			box-shadow: 3px 3px 20px #000;
		}

		.card-body {
		    padding: 0.75rem!important;
		}

		a.logo-unline:hover {
		  	text-decoration: none;
		}
 	</style>
  </h:head>
  <h:body>
  <header>
	<div class="container">
		<img style="width: 350px;" src="logo.png"/>
		<h1 style="font-size:16px; color:black; padding-left:70px; margin-top:-30px;">ROBOTIC PROCESS AUTOMATION</h1>
	</div>
</header>

<div class="container">
	<div class="row">
	    <div class="col-sm-4" style="padding-left: 160px;">
	    	<div class="card" id="mycard-width" >
	    		<a href="../centralWarehouse/dashboard.xhtml"><img class="card-img-top" src="depo.jpg" alt="Card image" style="width:100%"/></a>
	    		<div class="card-body">
	    			<h3 class="card-title" style="text-align: center;">Central<br/>Warehouse</h3>
	    		</div>
	    	</div>
	    </div>
	    <div class="col-sm-4" style="padding: 0px 90px 0px 90px;">
	    	<div class="card" id="mycard-width">
	    		<a href="../returnInvoices/dashboard.xhtml"><img class="card-img-top" src="robot1.jpg" alt="Card image" style="width:100%"/></a>
	    		<div class="card-body">
	    			<h3 class="card-title" style="text-align: center;">Return<br/>Invoices</h3>
	    		</div>
	    	</div>
	    </div>
	    <div class="col-sm-4">
	    	<div class="card" id="mycard-width">
	    		<a href="../orderCancelation/dashboard.xhtml"><img class="card-img-top" src="robot2.jpg" alt="Card image" style="width:100%"/></a>
	    		<div class="card-body">
	    			<h3 class="card-title" style="text-align: center;">Order<br/>Cancelation</h3>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
  </h:body>
  </html>