<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">

  <h:head>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

    <title></title>
    <style type="text/css">
    .ui-helper-reset {
    border:1px solid gray;
    }
   

    
    .ui-state-default{
background: #e3e3e3;
color: #000000;
    }
    
    .ui-accordion .ui-accordion-header {
    margin-top: 8px;
    padding: 1em .5em 1em 2.2em;
    }
      body {
              position: relative;
            }
      ul.nav-pills {
            top: 20px;
            position: fixed;
          }

      .icon {
            width: 30px;
            margin-right: 15px;
      }
          .ui-widget {
    
    font-size: 12px!important;

}.ui-accordion .ui-accordion-content {
padding:0em 0em!important;
	}
     

          @media only screen and (max-width: 1630px) {
              .logoText {
              font-size: 12px!important;
              padding-left: 39px!important;
              margin-top: -24px!important;
              }

              .logoResponsive{
                width: 234px!important;
              }
        }

         @media only screen and (max-width: 1510px) {
              .logoText {
              font-size: 11px!important;
              padding-left: 41px!important;
              margin-top: -24px!important;
              }

              .logoResponsive{
                width: 222px!important;
              }
        }
         @media only screen and (max-width: 1440px) {
              .logoText {
              font-size: 10px!important;
              padding-left: 36px!important;
              margin-top: -17px!important;
              }

              .logoResponsive{
                width: 200px!important;
              }
        }

    </style>
  </h:head>
  <h:body style="background-color: #f8f9fa">
        <div class="container-fluid">
          <div class="row">
            <nav class="col-2" style="background-color: #E0EAFC; height: 100vh; position: fixed; box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.60); width: 280px; ">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <img class="logoResponsive" style="width: 250px;" src="logo.png"/>
                  <h1 class="logoText" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 40px;">
                  <a class="nav-link" href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="transferTable.xhtml"><img class="icon" src="table-solid.svg"/>Transfers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a>
                </li>
                <li class="nav-item" style="border-top: 1px solid gray;">
                  <a class="nav-link" href="management.xhtml"><img class="icon" src="cogs-solid.svg"/>Management</a>
                </li>
              </ul>
            </nav>
            <div class="col-12" style="margin-left: 280px;flex: auto;">
              <div id="section1" >    
                <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;">Transfers</h1>
                
	<h:form id="transfer">
	 <p:growl id="growl" showDetail="true" sticky="false" life="2500" />  
  <p:outputLabel style="margin-left: 95px;" for="popup" value="Start Date:" />&nbsp;
        <p:calendar id="popup"  value="#{transferController.startDate}" />
        &nbsp;&nbsp;
        <p:outputLabel for="popup2" value="End Date:" />&nbsp;
        <p:calendar id="popup2"   value="#{transferController.endDate}" />
<!-- 		<p:outputLabel value="Start Date: " ></p:outputLabel> -->
<!-- 		<p:inputText value="#{transferController.startDate}"></p:inputText> -->
<!-- 		<p:outputLabel value="End Date: "></p:outputLabel> -->
<!-- 	    <p:inputText value="#{transferController.endDate}"></p:inputText> -->
	    <p:commandButton value="Filter"  action="#{transferController.filterIt()}" update="@form"></p:commandButton>

			
	
		<br/>
		<br/>
		<br/>
  
    <p:accordionPanel  value="#{transferController.orderNos}" var="orderNo" style=" border:0; padding: 0px 30px 0 30px;" >
    
        <p:tab title="OrderNo - #{orderNo}" >
            <h:panelGrid  columns="2" cellpadding="5" >
                            
                	<h:commandLink style="float:right; font-size: 14px; padding: 1px; margin-right:60px;" value="Export To Excel"  >
			<p:dataExporter type="xls" target="transferDatatable" fileName="transfer" pageOnly="true"   />
		</h:commandLink>
		<br/>
		
		
                <p:dataTable  style=" margin:0 50px 40px 50px;"  stylewidgetVar="transferDatatable" id="transferDatatable" var="transfer" value="#{transferController.getTransfersbyId(orderNo)}"  rows="25"  rowStyleClass="#{'old'}"
                 paginator="true" sortBy="#{transfer.transferId}" sortOrder="DESCENDING"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 rowsPerPageTemplate="25 100 250 500 *">
			<p:column  field="transferId" headerText="Transfer Id" filterBy="#{transfer.transferId}" filterMatchMode="contains" >
			<h:outputText value="#{transfer.transferId}"  />
			</p:column>
			<p:column headerText="Order Type" filterBy="#{transfer.siparisTipi}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.siparisTipi}"  />
        	</p:column>
        
        	<p:column headerText="Order No" filterBy="#{transfer.siparisNo}" filterMatchMode="contains" style="width:85px">
        	 	<h:outputText  value="#{transfer.siparisNo}" /> 
        		
        	</p:column>
        		<p:column headerText="Receiver Transfer No" filterBy="#{transfer.aliciTransferNo}" filterMatchMode="contains" style="width:105px">
        	<h:outputText value="#{transfer.aliciTransferNo}"/>  
        	</p:column>
        	<p:column headerText="Order Condition" filterBy="#{transfer.siparisDurum}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.siparisDurum}"/>  
        	</p:column>
        	<p:column headerText="Last Changer" filterBy="#{transfer.sonDegistiren}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.sonDegistiren}"/>  
        	</p:column>
        	
        	<p:column headerText="Date Of Creation" filterBy="#{transfer.olusturma_tarihi}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.olusturma_tarihi}"/>
        	</p:column>
        		
        	<p:column headerText="Supplier No" filterBy="#{transfer.saticiNo}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.saticiNo}"/>  
        	</p:column>
        	
        	        		
        	<p:column headerText="Delivery No" filterBy="#{transfer.irsaliyeNo}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.irsaliyeNo}"/>  
        	</p:column>
        		<p:column headerText="Supplier Name" filterBy="#{transfer.saticiAdi}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.saticiAdi}"/>  
        	</p:column>
        	
        	<p:column  headerText="Status" style="padding-top:20px; background-color:#{transfer.status.color}; width:200px" filterBy="#{transfer.status}" filterMatchMode="contains">
        	       	<h:outputText value="#{transfer.status}"/>  
        	</p:column>
        	
        	
        	<p:column headerText="Art No" filterBy="#{transfer.artNo}" filterMatchMode="contains"  style="width:55px">
        	<h:outputText value="#{transfer.artNo}"/>  
        	</p:column>
        	
        	
        	
        	<p:column headerText="Art Condition" filterBy="#{transfer.artDurum}" filterMatchMode="contains">
        	
        	<h:outputText value="#{transfer.artDurum}"/>  
        	</p:column>
        	
        	
        	<p:column headerText="Quantity of Order" filterBy="#{transfer.siparisAdet}" filterMatchMode="contains">
        	<h:outputText style="background-color: lightgoldenrodyellow" value="#{transfer.siparisAdet}"/>  
        	</p:column>
        	
        	
        	<p:column headerText="Order Entered" filterBy="#{transfer.siparisGirilen}" filterMatchMode="contains">
        	<h:outputText value="#{transfer.siparisGirilen}"/>  
        	</p:column>
        	
        	
        	
        	<p:column headerText="The Shipment Date" filterBy="#{transfer.sevkTarihi}" filterMatchMode="contains" style="width:105px">
        	<h:outputText value="#{transfer.sevkTarihi}"/>  
        	</p:column>
        	
			</p:dataTable>
			<p:poll interval="10"
           listener="#{transferController.filterIt()}" update="transferDatatable" />
		
		
            </h:panelGrid>
        </p:tab>
    </p:accordionPanel>
  </h:form>
              </div>
              
          </div>
        </div>


  </div>
  
  </h:body>
  </html>
