<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">

  <h:head> <!-- Required meta tags -->
 
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <title>Error Page</title>
   
  </h:head>
  <h:body style="background-color: #f8f9fa">
        <div class="container-fluid">
          <div class="row">
            <nav class="col-2" style="background-color: #E0EAFC; height: 100vh; position: fixed; box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.60); width: 280px; ">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <img class="logoResponsive displayNone" style="width: 250px;" src="logo.png"/>
                  <h1 class="logoText displayNone" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 40px;">
                  <a class="nav-link fontSize " href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fontSize" href="transferTable.xhtml"><img class="icon" src="table-solid.svg"/>Transfers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fontSize" href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fontSize" href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a>
                </li>
          
              </ul>
            </nav>
            <div class="col-12" style="margin-left: 280px;flex: auto;">
              <div id="section1" >    
                <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;">Error Page</h1>
             
                <div>
                 <div>                 
                
               
                  </div>
                

                </div>
              </div>
              
          </div>
        </div>
</div>

  </h:body>
  </html>