<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">

  <h:head>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

    <title></title>
    <style type="text/css">

      body {
	position: relative;
}

.card-header {
	background-color: #f0efef !important;
}

.card-header2 {
	width: 570px;
	background-color: #f0efef !important;
}

.nav-link {
	padding: 7px 7px !important;
}

ul.nav-pills {
	top: 20px;
	position: fixed;
}

.icon {
	width: 30px;
}

.card-body {
	padding: 0.25rem !important;
}
       
     

/*           @media only screen and (max-width: 1630px) { */
/*               .logoText { */
/*               font-size: 12px!important; */
/*               padding-left: 39px!important; */
/*               margin-top: -24px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 234px!important; */
/*               } */
/*         } */

/*          @media only screen and (max-width: 1510px) { */
/*               .logoText { */
/*               font-size: 11px!important; */
/*               padding-left: 41px!important; */
/*               margin-top: -24px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 222px!important; */
/*               } */
/*         } */
/*          @media only screen and (max-width: 1440px) { */
/*               .logoText { */
/*               font-size: 10px!important; */
/*               padding-left: 36px!important; */
/*               margin-top: -17px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 200px!important; */
/*               } */
/*         } */

/* @media only screen and (max-width: 1300px) { */
/* 	.fontSize { */
/* 		font-size: 0px !important; */
/* 	} */
/* 	.displayNone{ */
/* 		display:none!important;	 */
/* 	} */
	
	
/* 	.col-2 { */
    
/*     max-width: 102px!important; */
	
/* } */


    </style>
  </h:head>
  <h:body style="background-color: #f8f9fa;     font-size: 10px">
        <nav
		style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
    z-index: 1;">

	<img class="logoResponsive displayNone" style="width: 200px;"
		src="../mrrobotimages/logo.png" /> 		
	
		
		
		
	<h1 class="logoText displayNone"
		style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
		PROCESS AUTOMATION</h1>




        
	</nav>
        <div class="container-fluid">
        
          <div class="row">
          
            <nav class="col-2" style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                   <h1 class="logoText fontSize" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 89px; width:60px">
                  <a class="nav-link active fontSize" href="dashboard.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/dashboard.svg"/>Dashboard</a>
                </li>
                 <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link fontSize" href="files.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/file.png"/>Files</a>
                </li>
                <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link fontSize" href="logs.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/logs.svg"/>Logs</a>
                </li>
                <li class="nav-item" style="border-top: 1px solid gray; margin-top: 10px; width:60px " >
                  <a class="nav-link fontSize" href="mrrobotreturnmanagement.xhtml" style="text-align: center; " ><img class="icon" src="../mrrobotimages/cogs-solid.svg"/>Settings</a>
                </li>
              </ul>
            </nav>
            <div class="col-12" style="margin-left: 280px;flex: auto;">
              <div id="section1" >    
                <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;">Return Invoices Dashboard</h1>
                
                <div>
                 <div>                 
                
               
                  </div>
                

                </div>
              </div>
              
          </div>
        </div>
        </div>
  </h:body>
  </html>