<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
	<!-- Required meta tags -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->


      <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
    </f:facet>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Patua+One"
		rel="stylesheet" />

	<title></title>
	<style type="text/css">
   body {
	position: relative;
}

.card-header {
	background-color: #f0efef !important;
}

.card-header2 {
	width: 570px;
	background-color: #f0efef !important;
}

.nav-link {
	padding: 7px 7px !important;
}

ul.nav-pills {
	top: 20px;
	position: fixed;
}

.icon {
	width: 30px;
}

.card-body {
	padding: 0.25rem !important;
}
       

/* @media only screen and (max-width: 1630px) { */
/* 	.logoText { */
/* 		font-size: 12px !important; */
/* 		padding-left: 39px !important; */
/* 		margin-top: -24px !important; */
/* 	} */
/* 	.logoResponsive { */
/* 		width: 234px !important; */
/* 	} */
/* } */

/* @media only screen and (max-width: 1510px) { */
/* 	.logoText { */
/* 		font-size: 11px !important; */
/* 		padding-left: 41px !important; */
/* 		margin-top: -24px !important; */
/* 	} */
/* 	.logoResponsive { */
/* 		width: 222px !important; */
/* 	} */
/* } */

/* @media only screen and (max-width: 1440px) { */
/* 	.logoText { */
/* 		font-size: 10px !important; */
/* 		padding-left: 36px !important; */
/* 		margin-top: -17px !important; */
/* 	} */
/* 	.logoResponsive { */
/* 		width: 200px !important; */
/* 	} */
/* } */

/* @media only screen and (max-width: 1300px) { */
/* 	.fontSize { */
/* 		font-size: 0px !important; */
/* 	} */
/* 	.displayNone { */
/* 		display: none !important; */
/* 	} */
/* 	.col-2 { */
/* 		max-width: 102px !important; */
/* 	} */
/* } */
</style>
</h:head>
<h:body style="background-color: #f8f9fa;  font-size: 10px">

	<nav
		style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
    z-index: 1;">

	<img class="logoResponsive displayNone" style="width: 200px;"
		src="../mrrobotimages/logo.png" /> 		
	
		
		
		
	<h1 class="logoText displayNone"
		style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
		PROCESS AUTOMATION</h1>




        
	</nav>



	<div class="container-fluid">
		<div class="row">
			  <nav class="col-2" style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                   <h1 class="logoText fontSize" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 89px; width:60px">
                  <a class="nav-link  fontSize" href="dashboard.xhtml" style="text-align:center"><img class="icon" src="../mrrobotimages/dashboard.svg"/>Dashboard</a>
                </li>
                 <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link active fontSize" href="files.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/file.png"/>Files</a>
                </li>
                <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link fontSize" href="logs.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/logs.svg"/>Logs</a>
                </li>
                <li class="nav-item" style="border-top: 1px solid gray; margin-top: 10px; width:60px">
                  <a class="nav-link fontSize" href="mrrobotreturnmanagement.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/cogs-solid.svg"/>Settings</a>
                </li>
              </ul>
            </nav>
			<div class="col-12" style="margin-left: 100px; flex: auto;">
				<div id="section1">
					<h1
						style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;">Files</h1>
	<h:form>

					<p:dataTable value="#{fileController.xlsFiles}" var="xls">
						<f:facet name="header">   XLS Files</f:facet>
						<p:column>
							<p:outputLabel value="#{xls.fileName}" />
						</p:column>
						<p:column>
						
								<p:commandButton value="Download" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									icon="pi pi-arrow-down">
									<p:fileDownload
										value="#{fileDownloadController.saveFileAsXls(xls.fileLocation)}" />
								</p:commandButton>
								</p:column>
					
						</p:dataTable>
						
						

					<p:dataTable value="#{fileController.pdfFiles}" var="pdf">
					<f:facet name="header"  >   PDF Files</f:facet>
						<p:column>
							<p:outputLabel value="#{pdf.fileName}" />
						</p:column>
						<p:column>
						
								<p:commandButton value="Download" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									icon="pi pi-arrow-down">
									<p:fileDownload
										value="#{fileDownloadController.saveFileAsPdf(pdf.fileLocation)}" />
										
								</p:commandButton>
								
								</p:column>
			
</p:dataTable>
						
    

					</h:form>

					<div>
						<div></div>


					</div>
				</div>

			</div>
		</div>
	</div>
</h:body>
</html>