<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <h:head>  <!-- Required meta tags -->
  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

    <title></title>
    <style type="text/css">
          body {
	position: relative;
}

.card-header {
	background-color: #f0efef !important;
}

.card-header2 {
	width: 570px;
	background-color: #f0efef !important;
}

.nav-link {
	padding: 7px 7px !important;
}

ul.nav-pills {
	top: 20px;
	position: fixed;
}

.icon {
	width: 30px;
}

.card-body {
	padding: 0.25rem !important;
}
       .ui-datatable table {
	table-layout: auto!important;
}
	
     

/*           @media only screen and (max-width: 1630px) { */
/*               .logoText { */
/*               font-size: 12px!important; */
/*               padding-left: 39px!important; */
/*               margin-top: -24px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 234px!important; */
/*               } */
/*         } */

/*          @media only screen and (max-width: 1510px) { */
/*               .logoText { */
/*               font-size: 11px!important; */
/*               padding-left: 41px!important; */
/*               margin-top: -24px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 222px!important; */
/*               } */
/*         } */
/*          @media only screen and (max-width: 1440px) { */
/*               .logoText { */
/*               font-size: 10px!important; */
/*               padding-left: 36px!important; */
/*               margin-top: -17px!important; */
/*               } */

/*               .logoResponsive{ */
/*                 width: 200px!important; */
/*               } */
/*         } */
        
/*            .p-grid { */
/*   display: -webkit-box; */
/*   display: -ms-flexbox; */
/*   display: flex; */
/*   -ms-flex-wrap: wrap; */
/*   flex-wrap: wrap; */
/*   margin-right: -0.5em; */
/*   margin-left: -0.5em; */
/*   margin-top: -0.5em; } */

/* .p-nogutter { */
/*   margin-right: 0; */
/*   margin-left: 0; */
/*   margin-top: 0; } */

/* .p-nogutter > .p-col, */
/* .p-nogutter > [class*="p-col-"] { */
/*   padding: 0; } */

/* .p-dir-rev { */
/*   -webkit-box-orient: horizontal; */
/*   -webkit-box-direction: reverse; */
/*   -ms-flex-direction: row-reverse; */
/*   flex-direction: row-reverse; } */

/* .p-dir-col { */
/*   -webkit-box-orient: vertical; */
/*   -webkit-box-direction: normal; */
/*   -ms-flex-direction: column; */
/*   flex-direction: column; } */

/* .p-dir-col-rev { */
/*   -webkit-box-orient: vertical; */
/*   -webkit-box-direction: reverse; */
/*   -ms-flex-direction: column-reverse; */
/*   flex-direction: column-reverse; } */

/* .p-justify-start { */
/*   -webkit-box-pack: start; */
/*   -ms-flex-pack: start; */
/*   justify-content: flex-start; } */

/* .p-justify-end { */
/*   -webkit-box-pack: end; */
/*   -ms-flex-pack: end; */
/*   justify-content: flex-end; } */

/* .p-justify-center { */
/*   -webkit-box-pack: center; */
/*   -ms-flex-pack: center; */
/*   justify-content: center; } */

/* .p-justify-between { */
/*   -webkit-box-pack: justify; */
/*   -ms-flex-pack: justify; */
/*   justify-content: space-between; } */

/* .p-justify-around { */
/*   -ms-flex-pack: distribute; */
/*   justify-content: space-around; } */

/* .p-justify-even { */
/*   -webkit-box-pack: space-evenly; */
/*   -ms-flex-pack: space-evenly; */
/*   justify-content: space-evenly; } */

/* .p-align-start { */
/*   -webkit-box-align: start; */
/*   -ms-flex-align: start; */
/*   align-items: flex-start; } */

/* .p-align-end { */
/*   -webkit-box-align: end; */
/*   -ms-flex-align: end; */
/*   align-items: flex-end; } */

/* .p-align-center { */
/*   -webkit-box-align: center; */
/*   -ms-flex-align: center; */
/*   align-items: center; } */

/* .p-align-baseline { */
/*   -webkit-box-align: baseline; */
/*   -ms-flex-align: baseline; */
/*   align-items: baseline; } */

/* .p-align-stretch { */
/*   -webkit-box-align: stretch; */
/*   -ms-flex-align: stretch; */
/*   align-items: stretch; } */

/* .p-col { */
/*   -webkit-box-flex: 1; */
/*   -ms-flex-positive: 1; */
/*   flex-grow: 1; */
/*   -ms-flex-preferred-size: 0; */
/*   flex-basis: 0; */
/*   padding: 0.5em; } */

/* .p-col-fixed { */
/*   -webkit-box-flex: 0; */
/*   -ms-flex: 0 0 auto; */
/*   flex: 0 0 auto; */
/*   padding: 0.5em; } */

/* .p-col-align-start { */
/*   -ms-flex-item-align: start; */
/*   align-self: flex-start; } */

/* .p-col-align-end { */
/*   -ms-flex-item-align: end; */
/*   align-self: flex-end; } */

/* .p-col-align-center { */
/*   -ms-flex-item-align: center; */
/*   -ms-grid-row-align: center; */
/*   align-self: center; } */

/* .p-col-align-baseline { */
/*   -ms-flex-item-align: baseline; */
/*   align-self: baseline; } */

/* .p-col-align-stretch { */
/*   -ms-flex-item-align: stretch; */
/*   -ms-grid-row-align: stretch; */
/*   align-self: stretch; } */

/* .p-col-1, */
/* .p-col-2, */
/* .p-col-3, */
/* .p-col-4, */
/* .p-col-5, */
/* .p-col-6, */
/* .p-col-7, */
/* .p-col-8, */
/* .p-col-9, */
/* .p-col-10, */
/* .p-col-11, */
/* .p-col-12 { */
/*   -webkit-box-flex: 0; */
/*   -ms-flex: 0 0 auto; */
/*   flex: 0 0 auto; */
/*   padding: 0.5em; } */

/* .p-col-1 { */
/*   width: 8.3333%; } */

/* .p-col-2 { */
/*   width: 16.6667%; } */

/* .p-col-3 { */
/*   width: 25%; } */

/* .p-col-4 { */
/*   width: 33.3333%; } */

/* .p-col-5 { */
/*   width: 41.6667%; } */

/* .p-col-6 { */
/*   width: 50%; } */

/* .p-col-7 { */
/*   width: 58.3333%; } */

/* .p-col-8 { */
/*   width: 66.6667%; } */

/* .p-col-9 { */
/*   width: 75%; } */

/* .p-col-10 { */
/*   width: 83.3333%; } */

/* .p-col-11 { */
/*   width: 91.6667%; } */

/* .p-col-12 { */
/*   width: 100%; } */

/* .p-offset-12 { */
/*   margin-left: 100%; } */

/* .p-offset-11 { */
/*   margin-left: 91.66666667%; } */

/* .p-offset-10 { */
/*   margin-left: 83.33333333%; } */

/* .p-offset-9 { */
/*   margin-left: 75%; } */

/* .p-offset-8 { */
/*   margin-left: 66.66666667%; } */

/* .p-offset-7 { */
/*   margin-left: 58.33333333%; } */

/* .p-offset-6 { */
/*   margin-left: 50%; } */

/* .p-offset-5 { */
/*   margin-left: 41.66666667%; } */

/* .p-offset-4 { */
/*   margin-left: 33.33333333%; } */

/* .p-offset-3 { */
/*   margin-left: 25%; } */

/* .p-offset-2 { */
/*   margin-left: 16.66666667%; } */

/* .p-offset-1 { */
/*   margin-left: 8.33333333%; } */

/* .p-offset-0 { */
/*   margin-left: 0%; } */

/* .p-sm-1, */
/* .p-sm-2, */
/* .p-sm-3, */
/* .p-sm-4, */
/* .p-sm-5, */
/* .p-sm-6, */
/* .p-sm-7, */
/* .p-sm-8, */
/* .p-sm-9, */
/* .p-sm-10, */
/* .p-sm-11, */
/* .p-sm-12, */
/* .p-md-1, */
/* .p-md-2, */
/* .p-md-3, */
/* .p-md-4, */
/* .p-md-5, */
/* .p-md-6, */
/* .p-md-7, */
/* .p-md-8, */
/* .p-md-9, */
/* .p-md-10, */
/* .p-md-11, */
/* .p-md-12, */
/* .p-lg-1, */
/* .p-lg-2, */
/* .p-lg-3, */
/* .p-lg-4, */
/* .p-lg-5, */
/* .p-lg-6, */
/* .p-lg-7, */
/* .p-lg-8, */
/* .p-lg-9, */
/* .p-lg-10, */
/* .p-lg-11, */
/* .p-lg-12, */
/* .p-xl-1, */
/* .p-xl-2, */
/* .p-xl-3, */
/* .p-xl-4, */
/* .p-xl-5, */
/* .p-xl-6, */
/* .p-xl-7, */
/* .p-xl-8, */
/* .p-xl-9, */
/* .p-xl-10, */
/* .p-xl-11, */
/* .p-xl-12 { */
/*   padding: 0.5em; } */

/* .p-col-nogutter { */
/*   padding: 0; } */

/* @media screen and (min-width: 576px) { */
/*   .p-sm-1, */
/*   .p-sm-2, */
/*   .p-sm-3, */
/*   .p-sm-4, */
/*   .p-sm-5, */
/*   .p-sm-6, */
/*   .p-sm-7, */
/*   .p-sm-8, */
/*   .p-sm-9, */
/*   .p-sm-10, */
/*   .p-sm-11, */
/*   .p-sm-12 { */
/*     -webkit-box-flex: 0; */
/*     -ms-flex: 0 0 auto; */
/*     flex: 0 0 auto; } */

/*   .p-sm-1 { */
/*     width: 8.3333%; } */

/*   .p-sm-2 { */
/*     width: 16.6667%; } */

/*   .p-sm-3 { */
/*     width: 25%; } */

/*   .p-sm-4 { */
/*     width: 33.3333%; } */

/*   .p-sm-5 { */
/*     width: 41.6667%; } */

/*   .p-sm-6 { */
/*     width: 50%; } */

/*   .p-sm-7 { */
/*     width: 58.3333%; } */

/*   .p-sm-8 { */
/*     width: 66.6667%; } */

/*   .p-sm-9 { */
/*     width: 75%; } */

/*   .p-sm-10 { */
/*     width: 83.3333%; } */

/*   .p-sm-11 { */
/*     width: 91.6667%; } */

/*   .p-sm-12 { */
/*     width: 100%; } */

/*   .p-sm-offset-12 { */
/*     margin-left: 100%; } */

/*   .p-sm-offset-11 { */
/*     margin-left: 91.66666667%; } */

/*   .p-sm-offset-10 { */
/*     margin-left: 83.33333333%; } */

/*   .p-sm-offset-9 { */
/*     margin-left: 75%; } */

/*   .p-sm-offset-8 { */
/*     margin-left: 66.66666667%; } */

/*   .p-sm-offset-7 { */
/*     margin-left: 58.33333333%; } */

/*   .p-sm-offset-6 { */
/*     margin-left: 50%; } */

/*   .p-sm-offset-5 { */
/*     margin-left: 41.66666667%; } */

/*   .p-sm-offset-4 { */
/*     margin-left: 33.33333333%; } */

/*   .p-sm-offset-3 { */
/*     margin-left: 25%; } */

/*   .p-sm-offset-2 { */
/*     margin-left: 16.66666667%; } */

/*   .p-sm-offset-1 { */
/*     margin-left: 8.33333333%; } */

/*   .p-sm-offset-0 { */
/*     margin-left: 0%; } } */
/* @media screen and (min-width: 768px) { */
/*   .p-md-1, */
/*   .p-md-2, */
/*   .p-md-3, */
/*   .p-md-4, */
/*   .p-md-5, */
/*   .p-md-6, */
/*   .p-md-7, */
/*   .p-md-8, */
/*   .p-md-9, */
/*   .p-md-10, */
/*   .p-md-11, */
/*   .p-md-12 { */
/*     -webkit-box-flex: 0; */
/*     -ms-flex: 0 0 auto; */
/*     flex: 0 0 auto; } */

/*   .p-md-1 { */
/*     width: 8.3333%; } */

/*   .p-md-2 { */
/*     width: 16.6667%; } */

/*   .p-md-3 { */
/*     width: 25%; } */

/*   .p-md-4 { */
/*     width: 33.3333%; } */

/*   .p-md-5 { */
/*     width: 41.6667%; } */

/*   .p-md-6 { */
/*     width: 50%; } */

/*   .p-md-7 { */
/*     width: 58.3333%; } */

/*   .p-md-8 { */
/*     width: 66.6667%; } */

/*   .p-md-9 { */
/*     width: 75%; } */

/*   .p-md-10 { */
/*     width: 83.3333%; } */

/*   .p-md-11 { */
/*     width: 91.6667%; } */

/*   .p-md-12 { */
/*     width: 100%; } */

/*   .p-md-offset-12 { */
/*     margin-left: 100%; } */

/*   .p-md-offset-11 { */
/*     margin-left: 91.66666667%; } */

/*   .p-md-offset-10 { */
/*     margin-left: 83.33333333%; } */

/*   .p-md-offset-9 { */
/*     margin-left: 75%; } */

/*   .p-md-offset-8 { */
/*     margin-left: 66.66666667%; } */

/*   .p-md-offset-7 { */
/*     margin-left: 58.33333333%; } */

/*   .p-md-offset-6 { */
/*     margin-left: 50%; } */

/*   .p-md-offset-5 { */
/*     margin-left: 41.66666667%; } */

/*   .p-md-offset-4 { */
/*     margin-left: 33.33333333%; } */

/*   .p-md-offset-3 { */
/*     margin-left: 25%; } */

/*   .p-md-offset-2 { */
/*     margin-left: 16.66666667%; } */

/*   .p-md-offset-1 { */
/*     margin-left: 8.33333333%; } */

/*   .p-md-offset-0 { */
/*     margin-left: 0%; } } */
/* @media screen and (min-width: 992px) { */
/*   .p-lg-1, */
/*   .p-lg-2, */
/*   .p-lg-3, */
/*   .p-lg-4, */
/*   .p-lg-5, */
/*   .p-lg-6, */
/*   .p-lg-7, */
/*   .p-lg-8, */
/*   .p-lg-9, */
/*   .p-lg-10, */
/*   .p-lg-11, */
/*   .p-lg-12 { */
/*     -webkit-box-flex: 0; */
/*     -ms-flex: 0 0 auto; */
/*     flex: 0 0 auto; } */

/*   .p-lg-1 { */
/*     width: 8.3333%; } */

/*   .p-lg-2 { */
/*     width: 16.6667%; } */

/*   .p-lg-3 { */
/*     width: 25%; } */

/*   .p-lg-4 { */
/*     width: 33.3333%; } */

/*   .p-lg-5 { */
/*     width: 41.6667%; } */

/*   .p-lg-6 { */
/*     width: 50%; } */

/*   .p-lg-7 { */
/*     width: 58.3333%; } */

/*   .p-lg-8 { */
/*     width: 66.6667%; } */

/*   .p-lg-9 { */
/*     width: 75%; } */

/*   .p-lg-10 { */
/*     width: 83.3333%; } */

/*   .p-lg-11 { */
/*     width: 91.6667%; } */

/*   .p-lg-12 { */
/*     width: 100%; } */

/*   .p-lg-offset-12 { */
/*     margin-left: 100%; } */

/*   .p-lg-offset-11 { */
/*     margin-left: 91.66666667%; } */

/*   .p-lg-offset-10 { */
/*     margin-left: 83.33333333%; } */

/*   .p-lg-offset-9 { */
/*     margin-left: 75%; } */

/*   .p-lg-offset-8 { */
/*     margin-left: 66.66666667%; } */

/*   .p-lg-offset-7 { */
/*     margin-left: 58.33333333%; } */

/*   .p-lg-offset-6 { */
/*     margin-left: 50%; } */

/*   .p-lg-offset-5 { */
/*     margin-left: 41.66666667%; } */

/*   .p-lg-offset-4 { */
/*     margin-left: 33.33333333%; } */

/*   .p-lg-offset-3 { */
/*     margin-left: 25%; } */

/*   .p-lg-offset-2 { */
/*     margin-left: 16.66666667%; } */

/*   .p-lg-offset-1 { */
/*     margin-left: 8.33333333%; } */

/*   .p-lg-offset-0 { */
/*     margin-left: 0%; } } */
/* @media screen and (min-width: 1200px) { */
/*   .p-xl-1, */
/*   .p-xl-2, */
/*   .p-xl-3, */
/*   .p-xl-4, */
/*   .p-xl-5, */
/*   .p-xl-6, */
/*   .p-xl-7, */
/*   .p-xl-8, */
/*   .p-xl-9, */
/*   .p-xl-10, */
/*   .p-xl-11, */
/*   .p-xl-12 { */
/*     -webkit-box-flex: 0; */
/*     -ms-flex: 0 0 auto; */
/*     flex: 0 0 auto; } */

/*   .p-xl-1 { */
/*     width: 8.3333%; } */

/*   .p-xl-2 { */
/*     width: 16.6667%; } */

/*   .p-xl-3 { */
/*     width: 25%; } */

/*   .p-xl-4 { */
/*     width: 33.3333%; } */

/*   .p-xl-5 { */
/*     width: 41.6667%; } */

/*   .p-xl-6 { */
/*     width: 50%; } */

/*   .p-xl-7 { */
/*     width: 58.3333%; } */

/*   .p-xl-8 { */
/*     width: 66.6667%; } */

/*   .p-xl-9 { */
/*     width: 75%; } */

/*   .p-xl-10 { */
/*     width: 83.3333%; } */

/*   .p-xl-11 { */
/*     width: 91.6667%; } */

/*   .p-xl-12 { */
/*     width: 100%; } */

/*   .p-xl-offset-12 { */
/*     margin-left: 100%; } */

/*   .p-xl-offset-11 { */
/*     margin-left: 91.66666667%; } */

/*   .p-xl-offset-10 { */
/*     margin-left: 83.33333333%; } */

/*   .p-xl-offset-9 { */
/*     margin-left: 75%; } */

/*   .p-xl-offset-8 { */
/*     margin-left: 66.66666667%; } */

/*   .p-xl-offset-7 { */
/*     margin-left: 58.33333333%; } */

/*   .p-xl-offset-6 { */
/*     margin-left: 50%; } */

/*   .p-xl-offset-5 { */
/*     margin-left: 41.66666667%; } */

/*   .p-xl-offset-4 { */
/*     margin-left: 33.33333333%; } */

/*   .p-xl-offset-3 { */
/*     margin-left: 25%; } */

/*   .p-xl-offset-2 { */
/*     margin-left: 16.66666667%; } */

/*   .p-xl-offset-1 { */
/*     margin-left: 8.33333333%; } */

/*   .p-xl-offset-0 { */
/*     margin-left: 0%; } } */
        
/* @media only screen and (max-width: 1300px) { */
/* 	.fontSize { */
/* 		font-size: 0px !important; */
/* 	} */
/* 	.displayNone{ */
/* 		display:none!important;	 */
/* 	} */
	
	
	.col-2 {
    
    max-width: 102px!important;
	
}



    </style>
  </h:head>
   <h:body style="background-color: #f8f9fa;     font-size: 10px">
   <h:form>
  <nav
		style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
    z-index: 1;">

	<img class="logoResponsive displayNone" style="width: 200px;"
		src="../mrrobotimages/logo.png" /> 		
	
		
		
		
	<h1 class="logoText displayNone"
		style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
		PROCESS AUTOMATION</h1>




        
	</nav>
        <div class="container-fluid">
        
          <div class="row">
          
            <nav class="col-2" style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
             <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                   <h1 class="logoText fontSize" style="font-size: 13px;color: black;padding-left: 39px;margin-top: -24px;">ROBOTIC PROCESS AUTOMATION</h1>
                </li>
                <li class="nav-item" style="margin-top: 89px; width:60px">
                  <a class="nav-link  fontSize" href="dashboard.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/dashboard.svg"/>Dashboard</a>
                </li>
                 <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link fontSize" href="files.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/file.png"/>Files</a>
                </li>
                <li class="nav-item" style="margin-top: 10px; width:60px">
                  <a class="nav-link fontSize "  href="logs.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/logs.svg"/>Logs</a>
                </li>
                <li class="nav-item" style="border-top: 1px solid gray; margin-top: 10px; width:60px">
                  <a class="nav-link fontSize active" href="mrrobotreturnmanagement.xhtml" style="text-align: center"><img class="icon" src="../mrrobotimages/cogs-solid.svg"/>Settings</a>
                </li>
              </ul>
            </nav>
            <div class="col-12" style="margin-left: 100px;flex: auto;">
              <div id="section1" >                
                <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive;">Management</h1>
                 <div style="margin-left: 80px;">
                  <div style="border: 2px solid #007bff; width: 50%; padding: 25px 0 25px 25px;">

                    <h5 style="font-family: 'Patua One', cursive; margin-bottom: 25px;" >IP List</h5>
                     <div class="ui-g">
                     
                       <div class="ui-g">
                			<div class="ui-g-12 ui-md-6" align="center">
                			<p:selectOneMenu id="returns" value="#{mrrobotvmcontrollerservice.returns}">
   							<f:selectItems value="#{mrrobotvmcontrollerservice.vmIpList}"/>
  						 </p:selectOneMenu>
  						 </div>
                			<div class="ui-g-12 ui-md-3" align="center"><p:commandButton id="startButton" value="Start" action="#{mrrobotvmcontrollerservice.mrRobotReturnMachineStarter}"/></div>
                			<div class="ui-g-12 ui-md-3" align="center"><p:commandButton id="stopButton" value="Stop" action="#{mrrobotvmcontrollerservice.mrRobotReturnMachineStopper}"/></div>
            		</div>
                            
                      </div>
                  </div>

                  <div style="border: 2px solid #007bff; width: 80%; padding: 25px 0 25px 25px; margin-top: 25px;">
                    <h5 style="font-family: 'Patua One', cursive; margin-bottom: 25px;">Property List</h5>
                      
    					<p:dataTable id="propertyListri" var="propertyListri" value="#{mrrobotvmcontrollerservice.propertyKeyListReturnInvoce}" editable="true" editMode="cell" widgetVar="cellCars" resizableColumns="true" style="margin-bottom:20px; margin-right: 30px;">
        				
        				<!--  <f:facet name="header">
            			Basic Resize
        				</f:facet>-->
        				
        					<p:column headerText="Properties">
            					<p:cellEditor>
                				<f:facet name="output"><h:outputText value="#{propertyListri.propertyKey}" /></f:facet>
                				<f:facet name="input"><p:outputLabel  value="#{propertyListri.propertyKey}" style="width:100%"/></f:facet>
            					</p:cellEditor>
        					</p:column>
 
					        <p:column headerText="Values">
					            <p:cellEditor>
					                <f:facet name="output"><h:outputText value="#{propertyListri.propertyValue}" /></f:facet>
					                <f:facet name="input"><p:inputText value="#{propertyListri.propertyValue}" style="width:100%"/></f:facet>
					            </p:cellEditor>
					        </p:column>
					        					
    					</p:dataTable>
                 	 </div>

              	 </div>
               
              </div>
              
          </div>
          
        </div>

		</div>
		
		</h:form>
		
	</h:body>
  
</f:view>