<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <script
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style type="text/css">
        .value {
            font-weight: bold;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    </f:facet>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One"
          rel="stylesheet"/>

    <title>Article Group Table</title>
    <style type="text/css">
        .ui-helper-reset {
            border: 1px solid gray;
        }

        .ui-state-default {
            color: #000000;
        }

        .ui-accordion .ui-accordion-header {
            margin-top: 8px;
            padding: 1em .5em 1em 2.2em;
        }

        .ui-datatable-scrollable-theadclone {
            visibility: collapse;
        }

        .ui-inputfield {
            width: 75px;
        }

        body {
            position: relative;
            overflow-x: hidden;
        }

        ul.nav-pills {
            top: 20px;
            position: fixed;
        }

        .nav-link {
            padding: 7px 7px !important;
        }

        .icon {
            width: 30px;
        }

        .ui-datatable table {
            table-layout: auto !important;
        }

        .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
            text-align: right !important;
            padding: 10px 0px;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        .ui-accordion .ui-accordion-content {
            padding: 0em 0em !important;
        }

        .ui-datatable .ui-chkbox.ui-chkbox-all.ui-widget {
            display: none !important;
        }

        .ui-column-customfilter {
            display: contents;
        }

        .ui-datatable-header {
            text-align: left !important;
            font-size: larger;
        }

    </style>
</h:head>

<h:body style="background-color: #f8f9fa; font-size: 10px">

    <nav style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
            z-index: 1;">
        <img class="logoResponsive displayNone" style="width: 200px;"
             src="logo.png"/>


        <h1 class="logoText displayNone"
            style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
            PROCESS AUTOMATION</h1>


    </nav>
    <div class="container-fluid">

        <div class="row">
            <nav class="col-2"
                 style="background-color: #E0EAFC ;z-index: 1; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item" style="margin-top: 89px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a></li>
                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="transferTable.xhtml"><img class="icon"
                                                            src="table-solid.svg"/>Transfers</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="invent.xhtml"
                            style="text-align: center;"><img class="icon" src="excelimport2.png"/>Invent</a>
                    </li>

                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" href="inventStoreToStore.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Store Invent</a></li>


                    <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link fontSize"
                                                                                  style="text-align:center"
                                                                                  href="serviceSync.xhtml"><img
                            class="icon"
                            src="synchronization.svg"/>Sync</a></li>

                    <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link  "
                                                                                  style="text-align:center"
                                                                                  href="settings.xhtml"><img
                            class="icon"
                            src="cogs-solid.svg"/>Settings</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link active fontSize" style="text-align: center"
                            href="articleGroup.xhtml"><img class="icon"
                                                           src="table-solid.svg"/>Article Group Table</a></li>

                </ul>
            </nav>

            <div class="col-12 settingMargin"
                 style="margin-left: 100px; margin-right: 50px; flex: auto;">
                <div id="section1">
                    <h1
                            style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;"/>

                    <div style="margin-left:90px;margin-top:50px;text-align:center; overflow: scroll; width: 95%;">

                        <h:form id="form">

                            <p:growl id="msgs" showDetail="true"/>

                            <p:dataTable var="articleGroupName" id="articleMap"
                                         widgetVar="dynamicArticleDataTable"
                                         value="#{articleGroupNameController.data}"
                                         paginator="true"
                                         rows="10"
                                         editable="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                         rowsPerPageTemplate="5,10,25,50,100"
                                         filteredValue="#{articleGroupNameController.ftd}"

                            >


                                <p:ajax event="rowEdit" listener="#{articleGroupNameController.onRowEdit}"
                                        update=":form:msgs"/>
                                <p:ajax event="rowEditCancel" listener="#{articleGroupNameController.onRowCancel}"
                                        update=":form:msgs"/>

                                <p:column headerText="Group Code" filterBy="#{articleGroupName.groupCode}">
                                    <h:outputText id="gc" value="#{articleGroupName.groupCode}"/>
                                </p:column>

                                <p:column headerText="Group" filterBy="#{articleGroupName.group}">
                                    <h:outputText id="g" value="#{articleGroupName.group}"/>
                                </p:column>

                                <p:column headerText="Group Type" filterBy="#{articleGroupName.groupType}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{articleGroupName.groupType}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="modelInput2" value="#{articleGroupName.groupType}"
                                                         style="width:100%"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Edit" id="test213">
                                    <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
                                </p:column>

                            </p:dataTable>

                        </h:form>

                    </div>

                </div>
            </div>

        </div>
    </div>
</h:body>
</html>
