<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=10" />
        </f:facet>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Patua+One"
              rel="stylesheet" />

        <title>DashBoard</title>
        <style type="text/css">
            body {
                position: relative;
            }

            .card-header {
                background-color: #f0efef !important;
            }

            .card-header2 {
                width: 570px;
                background-color: #f0efef !important;
            }

            .nav-link {
                padding: 7px 7px !important;
            }

            ul.nav-pills {
                top: 20px;
                position: fixed;
            }

            .icon {
                width: 30px;
            }

            .dot {
                height: 15px;
                width: 15px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
            }

            .card-body {
                padding: 0.25rem !important;
            }

            @media ( max-width : 1630px) {       }
        </style>

    </h:head>

    <h:body style="background-color: #f8f9fa;     font-size: 10px">

        <nav
            style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
            z-index: 1;">

            <img class="logoResponsive displayNone" style="width: 200px;"
                 src="logo.png" />

            <h1 class="logoText displayNone"
                style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC PROCESS AUTOMATION</h1>

        </nav>

        <div class="container-fluid">

            <div class="row">
                <nav class="col-2"
                     style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                    <ul class="nav nav-pills flex-column">

                        <li class="nav-item" style="margin-top: 89px; width: 60px"><a
                                class="nav-link active fontSize" href="dashboard.xhtml"
                                style="text-align: center;"><img class="icon"
                                                             src="dashboard.svg" />Dashboard</a></li>
                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" href="transferTable.xhtml"
                                style="text-align: center;"><img class="icon"
                                                             src="table-solid.svg" />Transfers</a></li>
                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" href="stock.xhtml"
                                style="text-align: center;"><img class="icon"
                                                             src="warehouse-solid.svg" />Stock</a></li>
                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" href="logs.xhtml"
                                style="text-align: center;"><img class="icon" src="logs.svg" />Logs</a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" href="invent.xhtml"
                                style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png" />Invent</a></li>

                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link  fontSize" href="inventStoreToStore.xhtml"
                                style="text-align: center;"><img class="icon"
                                                                 src="excelimport2.png"/>Store Invent</a></li>


                        <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" style="text-align: center"
                                href="serviceSync.xhtml"><img class="icon"
                                                              src="synchronization.svg"/>Sync</a></li>

                        <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                                class="nav-link  " style="text-align: center" href="settings.xhtml"><img
                                class="icon" src="cogs-solid.svg"/>Settings</a></li>

                        <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                                class="nav-link  fontSize" style="text-align: center"
                                href="articleGroup.xhtml"><img class="icon"
                                                               src="table-solid.svg"/>Article Group Table</a></li>
                    </ul>
                </nav>
                <div class="col-12"
                     style="margin-left: 90px; flex: auto; margin-top: 82px">
                    <div id="content-wrapper" class="d-flex flex-column">

                        <!-- Main Content -->
                        <div id="content">



                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <div
                                    class="d-sm-flex align-items-center justify-content-between mb-4"
                                    style="margin-top: 1.5rem;">
                                    <h1 class="h3 mb-0 text-gray-800"
                                        style="font-family: 'Open Sans', sans-serif; font-size: 30px;">Central
                                        Warehouse Dashboard</h1>

                                </div>

                                <!-- Content Row -->
                                <div class="row">

                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2"
                                             style="border-left: .25rem solid #4e73df !important;">
                                            <div class="card-body">

                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                           <div
                                                                   class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                                                   style="font-family: 'Open Sans', sans-serif; font-size: 12px;">Service Bilgisi</div>
                                                        <h:form>
                                                        <p:repeat value="#{dashboardController.serviceInfos}" var="_serviceInfo">
                                                           <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                               <p:outputLabel id="serviceInfo" style="font-size: 15px" value="#{_serviceInfo.serviceName}">
                                                                   <i class="dot" style="#{dashboardController.checkSocketIsAlive(_serviceInfo) ? 'background-color:green' : 'background-color:red'}"></i>
                                                               </p:outputLabel>

                                                               <p:poll interval="60"  update="serviceInfo" />
                                                           </div>
                                                         </p:repeat>
                                                        </h:form>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2"
                                             style="border-left: .25rem solid #1cc88a !important;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                                            style="font-family: 'Open Sans', sans-serif; font-size: 12px;">GoodsOut
                                                            (Daily)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><p:outputLabel id="goodsOutDaily" value="#{dashboardController.goodsOutTransferLazyModel.rowCount}"> </p:outputLabel> </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2"
                                             style="border-left: .25rem solid #1cc88a !important;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                                            style="font-family: 'Open Sans', sans-serif; font-size: 12px;">GoodsIn
                                                            (Daily)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><p:outputLabel id="goodsin" value="#{dashboardController.goodsInTransferLazyModel.rowCount}"> </p:outputLabel>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Pending Requests Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2"
                                             style="border-left: .25rem solid #f6c23e !important;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                                            style="font-family: 'Open Sans', sans-serif; font-size: 12px;">Ekol</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- ###################################################################### GOODS IN TABLE #####################################################################3 -->

                                <!-- Content Row -->


                                <div class="row">

                                    <div class="col-xl-6 ">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <h:form>
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Goods In</h6>

                                                    <h:commandLink
                                                        action="#{dashboardController.exportTransfersToExcel(dashboardController.goodsInTransferLazyModel,'GoodsIn','Goods_In_Report')}"
                                                        value="Export To Excel"
                                                        style="font-family: 'Open Sans', sans-serif;font-size: 10px; color:blue;">
                                                    </h:commandLink>

                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body"
                                                     style="overflow: scroll; height: 400px;">
                                                    <div class="chart-pie pt-4 pb-2">
                                                        <p:calendar  pattern="yyyy-MM-dd" id="popup" showOn="button" value="#{dashboardController.goodsInTransferLazyModel.requestedDate}" />
                                                        <p:commandButton value="Filter" style="  font-size: 11px;"
                                                                         action="#{dashboardController.goodsInTransferLazyModel.refreshGoodsInTransferLazyModel}"
                                                                         update="@form :goodsin"></p:commandButton>
                                                        <p:commandButton value="Refresh"
                                                                         style=" margin-left:500px; font-size: 11px;"
                                                                         action="#{dashboardController.goodsInTransferLazyModel.refreshGoodsInTransferLazyModel}"
                                                                         update="@form :goodsin"></p:commandButton>
                                                        <p:dataTable id="goodsInTable" paginator="true" lazy="true"
                                                                     rows="25"
                                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                     class="table table-striped table-bordered"
                                                                     value="#{dashboardController.goodsInTransferLazyModel}"
                                                                     var="transfer">

                                                            <p:column headerText="Order No"
                                                                      filterBy="#{transfer.siparisNo}"
                                                                      filterMatchMode="contains">
                                                                <h:outputLabel value="  #{transfer.siparisNo}" />
                                                            </p:column>


                                                            <p:column headerText="Order Type"
                                                                      filterBy="#{transfer.siparisTipi}"
                                                                      filterMatchMode="contains">
                                                                <h:outputLabel value="#{transfer.siparisTipi}" />
                                                            </p:column>


                                                            <p:column headerText="Article No"
                                                                      filterBy="#{transfer.artNo}" filterMatchMode="contains">
                                                                <h:outputLabel value="  #{transfer.artNo}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Status">
                                                                <h:outputText value="#{transfer.status}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Order Condition">
                                                                <h:outputText value="#{transfer.siparisDurum}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Art Condition">

                                                                <h:outputText value="#{transfer.artDurum}" />
                                                            </p:column>

                                                            <p:column headerText="Quantity of Order"
                                                                      filterBy="#{transfer.siparisAdet}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText
                                                                    style="background-color: lightgoldenrodyellow"
                                                                    value="#{transfer.siparisAdet}" />
                                                            </p:column>

                                                            <p:column headerText="Order Entered"
                                                                      filterBy="#{transfer.siparisGirilen}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.siparisGirilen}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Last Changer">
                                                                <h:outputText value="#{transfer.sonDegistiren}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Date Of Creation">
                                                                <h:outputText value="#{transfer.olusturmaTarihi}" />
                                                            </p:column>

                                                            <p:column visible="true" headerText="Supplier No"
                                                                      filterBy="#{transfer.saticiNo}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.saticiNo}" />
                                                            </p:column>


                                                            <p:column visible="false" headerText="Delivery No">
                                                                <h:outputText value="#{transfer.irsaliyeNo}" />
                                                            </p:column>
                                                            <p:column visible="false" headerText="Supplier Name">
                                                                <h:outputText value="#{transfer.saticiAdi}" />
                                                            </p:column>



                                                            <p:column visible="false" headerText="The Shipment Date">
                                                                <h:outputText value="#{transfer.sevkTarihi}" />
                                                            </p:column>


                                                            <p:column visible="false" headerText="Process Date">
                                                                <h:outputText value="#{transfer.processDate}" />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                            </h:form>
                                        </div>
                                    </div>
                                    <!-- ###################################################################### GOODS OUT TABLE #####################################################################3 -->
                                    <div class="col-xl-6 ">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <h:form>
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Goods Out</h6>

                                                    <h:commandLink
                                                        action="#{dashboardController.exportTransfersToExcel(dashboardController.goodsOutTransferLazyModel,'GoodsOut','Goods_Out_Report')}"
                                                        value="Export To Excel"
                                                        style="font-family: 'Open Sans', sans-serif;font-size: 10px; color:blue;">
                                                    </h:commandLink>

                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body"
                                                     style="overflow: scroll; height: 400px;">
                                                    <div class="chart-pie pt-4 pb-2">
                                                        <p:calendar pattern="yyyy-MM-dd" id="popup" showOn="button"
                                                                    value="#{dashboardController.goodsOutTransferLazyModel.goodsOutCalender}" />
                                                        <p:commandButton value="Filter" style="  font-size: 11px;"
                                                                         action="#{dashboardController.goodsOutTransferLazyModel.refreshGoodsOutTransferLazyModel}"
                                                                         update="@form :goodsOutDaily"></p:commandButton>

                                                        <p:commandButton value="Refresh"
                                                                         style=" margin-left:500px; font-size: 11px;"
                                                                         action="#{dashboardController.goodsOutTransferLazyModel.refreshGoodsOutTransferLazyModel}"
                                                                         update="@form :goodsOutDaily"></p:commandButton>
                                                        <p:dataTable id="tbl2" paginator="true" rows="25"
                                                                     lazy="true"
                                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                     class="table table-striped table-bordered"
                                                                     value="#{dashboardController.goodsOutTransferLazyModel}"
                                                                     var="transfer">


                                                            <p:column headerText="Order No"
                                                                      filterBy="#{transfer.siparisNo}"
                                                                      filterMatchMode="contains">
                                                                <h:outputLabel value="  #{transfer.siparisNo}" />
                                                            </p:column>


                                                            <p:column headerText="Order Type"
                                                                      filterBy="#{transfer.siparisTipi}"
                                                                      filterMatchMode="contains">
                                                                <h:outputLabel value="#{transfer.siparisTipi}" />
                                                            </p:column>


                                                            <p:column visible="false" headerText="Status">
                                                                <h:outputText value="#{transfer.status}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Order Condition">
                                                                <h:outputText value="#{transfer.siparisDurum}" />
                                                            </p:column>
                                                            <p:column headerText="Article No"
                                                                      filterBy="#{transfer.artNo}" filterMatchMode="contains">
                                                                <h:outputLabel value="  #{transfer.artNo}" />
                                                            </p:column>




                                                            <p:column visible="false" headerText="Art Condition">

                                                                <h:outputText value="#{transfer.artDurum}" />
                                                            </p:column>

                                                            <p:column headerText="Quantity of Order"
                                                                      filterBy="#{transfer.siparisAdet}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText
                                                                    style="background-color: lightgoldenrodyellow"
                                                                    value="#{transfer.siparisAdet}" />
                                                            </p:column>

                                                            <p:column headerText="Order Entered"
                                                                      filterBy="#{transfer.siparisGirilen}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.siparisGirilen}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Last Changer">
                                                                <h:outputText value="#{transfer.sonDegistiren}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Date Of Creation">
                                                                <h:outputText value="#{transfer.olusturmaTarihi}" />
                                                            </p:column>

                                                            <p:column visible="false" headerText="Supplier No">
                                                                <h:outputText value="#{transfer.saticiNo}" />
                                                            </p:column>


                                                            <p:column visible="false" headerText="Delivery No">
                                                                <h:outputText value="#{transfer.irsaliyeNo}" />
                                                            </p:column>
                                                            <p:column headerText="Supplier Name"
                                                                      filterBy="#{transfer.saticiAdi}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.saticiAdi}" />
                                                            </p:column>



                                                            <p:column visible="false" headerText="The Shipment Date">
                                                                <h:outputText value="#{transfer.sevkTarihi}" />
                                                            </p:column>


                                                            <p:column visible="false" headerText="Process Date">
                                                                <h:outputText value="#{transfer.processDate}" />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>


                                <!-- ###################################################################### OPEN ORDERS TABLE #####################################################################3 -->

                                <div class="row">

                                    <!-- Area Chart -->
                                    <div class="col-xl-6">



                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->

                                            <h:form id="transfer">
                                                <p:growl id="growl" showDetail="true" sticky="false"
                                                         life="2500" />
                                                <div
                                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Open Orders</h6>


                                                    <h:commandLink
                                                        action="#{dashboardController.exportTransfersToExcel(dashboardController.openOrderLazyDataModel,'OpenOrders','Open_Orders_Report')}"
                                                        value="Export To Excel"
                                                        style="font-family: 'Open Sans', sans-serif;font-size: 10px; color:blue;">
                                                    </h:commandLink>


                                                </div>


                                                <div class="card-body"
                                                     style="overflow: scroll; height: 400px;">
                                                    <div>

                                                        <p:ajaxStatus onstart="PF('statusDialog').show()"
                                                                      oncomplete="PF('statusDialog').hide()" />

                                                        <p:dialog modal="false" widgetVar="statusDialog"
                                                                  header="Please Wait" draggable="false" closable="false"
                                                                  showEffect="bounce" hideEffect="bounce" resizable="false">
                                                            <p:graphicImage value="../images/ajaxloadingbar.gif" />
                                                        </p:dialog>

                                                        <div style="overflow: auto; width: 95%;">


                                                            <p:dataTable var="transfer" lazy="true"
                                                                         id="openTransferDataTable" widgetVar="openTransferDataTable"
                                                                         value="#{dashboardController.openOrderLazyDataModel}"
                                                                         rows="25" rowStyleClass="#{'old'}" paginator="true"
                                                                         sortBy="#{transfer.transferId}" sortOrder="DESCENDING"
                                                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                         rowsPerPageTemplate="25 100 250 500 *">


                                                                <p:column headerText="Order No"
                                                                          filterBy="#{transfer.siparisNo}"
                                                                          filterMatchMode="contains" style="width:85px">
                                                                    <h:outputText value="#{transfer.siparisNo}" />
                                                                </p:column>



                                                                <p:column headerText="Order Type"
                                                                          filterBy="#{transfer.siparisTipi}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText value="#{transfer.siparisTipi}" />
                                                                </p:column>

                                                                <p:column headerText="Status"
                                                                          style="padding-top:0px; background-color:#{transfer.status.color}; width:170px"
                                                                          filterBy="#{transfer.status}" filterMatchMode="exact">

                                                                    <f:facet name="filter">
                                                                        <p:selectOneMenu style="width:100px"
                                                                                         styleClass="custom-filter" dynamic="true"
                                                                                         onchange="PF('openTransferDataTable').filter()">

                                                                            <f:selectItem itemLabel="Please Select"
                                                                                          itemValue="#{null}" noSelectionOption="true" />

                                                                            <f:selectItems
                                                                                value="#{transferController.statusList}"
                                                                                var="_status" itemLabel="#{_status}"
                                                                                itemValue="#{_status}" />

                                                                            <!-- 											 <p:ajax event="change" process="@this" update="transferDataTable"  /> -->

                                                                        </p:selectOneMenu>
                                                                    </f:facet>

                                                                    <h:outputText value="#{transfer.status}" />

                                                                </p:column>

                                                                <p:column headerText="Order Condition"
                                                                          filterBy="#{transfer.siparisDurum}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText value="#{transfer.siparisDurum}" />
                                                                </p:column>

                                                                <p:column headerText="Art No"
                                                                          filterBy="#{transfer.artNo}" filterMatchMode="contains"
                                                                          style="width:55px">
                                                                    <h:outputText value="#{transfer.artNo}" />
                                                                </p:column>



                                                                <p:column headerText="Art Condition"
                                                                          filterBy="#{transfer.artDurum}"
                                                                          filterMatchMode="contains">

                                                                    <h:outputText value="#{transfer.artDurum}" />
                                                                </p:column>


                                                                <p:column headerText="Quantity of Order"
                                                                          filterBy="#{transfer.siparisAdet}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText
                                                                        style="background-color: lightgoldenrodyellow"
                                                                        value="#{transfer.siparisAdet}" />
                                                                </p:column>


                                                                <p:column headerText="Order Entered"
                                                                          filterBy="#{transfer.siparisGirilen}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText value="#{transfer.siparisGirilen}" />
                                                                </p:column>


                                                                <p:column headerText="Last Changer"
                                                                          filterBy="#{transfer.sonDegistiren}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText value="#{transfer.sonDegistiren}" />
                                                                </p:column>

                                                                <p:column headerText="Date Of Creation"
                                                                          filterBy="#{transfer.olusturmaTarihi}"
                                                                          filterMatchMode="contains">
                                                                    <h:outputText value="#{transfer.olusturmaTarihi}"/>
                                                                </p:column>

                                                                <p:column headerText="Supplier Name"
                                                                          filterBy="#{transfer.saticiAdi}"
                                                                          filterMatchMode="contains">

                                                                    <h:outputText value="#{transfer.saticiAdi}" />

                                                                </p:column>

                                                            </p:dataTable>

                                                        </div>

                                                    </div>

                                                </div>

                                            </h:form>

                                        </div>

                                    </div>


                                    <!-- ############################################ LOGS TABLE #############################################################3 -->


                                    <div class="col-xl-6">
                                        <div class="card shadow mb-4">

                                            <h:form>


                                                <div
                                                    class="card-header py-3 d-flex flex-row  justify-content-between"
                                                    style="width: 100%;">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Logs</h6>

                                                </div>

                                                <div class="card-body "
                                                     style="overflow: scroll; background-color: white; height: 400px;">



                                                    <p:dataTable style="" var="log" lazy="true"
                                                                 id="logsDataTable"
                                                                 value="#{dashboardController.logsLazyModel}" rows="25"
                                                                 rowStyleClass="#{'old'}" paginator="true"
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                 rowsPerPageTemplate="25 100 250 500 *">


                                                        <p:column headerText="Service Name"
                                                                  filterBy="#{log.serviceName}" filterMatchMode="contains">
                                                            <h:outputText value="#{log.serviceName}" />
                                                        </p:column>



                                                        <p:column headerText="Error Date"
                                                                  filterBy="#{log.errorDate}" filterMatchMode="contains">
                                                            <h:outputText value="#{log.errorDate}" />
                                                        </p:column>

                                                        <p:column headerText="Summary Error"
                                                                  filterBy="#{log.summaryError}" filterMatchMode="contains">
                                                            <h:outputText value="#{log.summaryError}" />
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>


                                <!-- ############################################ ROBOT FAILED TABLE #############################################################3 -->

                                <div class="row">

                                    <div class="col-xl-4">

                                        <div class="card shadow mb-4">

                                            <h:form>

                                                <div
                                                    class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between"
                                                    style="width: 100%">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px; margin-bottom: 10px; margin-left: 15px !important; width: 100%">ProcessedbyRobotFailed</h6>
                                                </div>


                                                <div class="card-body"
                                                     style="overflow: scroll; height: 400px;">

                                                    <p:dataTable var="transfer" lazy="true" id="status4Table"
                                                                 value="#{dashboardController.robotFailedModel}" rows="25"
                                                                 rowStyleClass="#{'old'}" paginator="true"
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                 rowsPerPageTemplate="25 100 250 500 *">

                                                        <p:column headerText="Order No"
                                                                  filterBy="#{transfer.siparisNo}"
                                                                  filterMatchMode="contains">
                                                            <h:outputText value="#{transfer.siparisNo}" />
                                                        </p:column>


                                                        <p:column headerText="Art No" filterBy="#{transfer.artNo}"
                                                                  filterMatchMode="contains">
                                                            <h:outputText value="#{transfer.artNo}" />
                                                        </p:column>



                                                        <p:column headerText="Art Condition"
                                                                  filterBy="#{transfer.artDurum}" filterMatchMode="contains">

                                                            <h:outputText value="#{transfer.artDurum}" />
                                                        </p:column>


                                                        <p:column headerText="Quantity of Order"
                                                                  filterBy="#{transfer.siparisAdet}"
                                                                  filterMatchMode="contains">
                                                            <h:outputText
                                                                style="background-color: lightgoldenrodyellow"
                                                                value="#{transfer.siparisAdet}" />
                                                        </p:column>


                                                        <p:column headerText="Order Entered"
                                                                  filterBy="#{transfer.siparisGirilen}"
                                                                  filterMatchMode="contains">
                                                            <h:outputText value="#{transfer.siparisGirilen}" />
                                                        </p:column>


                                                    </p:dataTable>

                                                </div>

                                            </h:form>

                                        </div>

                                    </div>


                                    <!-- ############################################ INVENT REPORT TABLE #############################################################3 -->


                                    <div class="col-xl-4">



                                        <div class="card shadow mb-4">


                                            <h:form style="width:100%; height: 400px; ">
                                                <div
                                                    class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between"
                                                    style="width: 100%">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px; margin-bottom: 10px; margin-left: 15px !important;">Uploaded
                                                        Invent File Report</h6>

                                                </div>


                                                <div class="card-body"
                                                     style="overflow: scroll; height: 400px; background-color: white;">


                                                    <div class="chart-pie pt-4 pb-2">
                                                        <p:calendar id="popup" showOn="button"
                                                                    value="#{dashboardController.inventDate}" />
                                                        <p:commandButton value="Filter" style="  font-size: 11px;"
                                                                         action="#{dashboardController.reloadInventReportByDate}"
                                                                         update=":@form,messages"></p:commandButton>


                                                        <p:growl id="messages" showDetail="true" />

                                                        <p:outputPanel id="panelImportResult" autoUpdate="true"
                                                                       style="width:100%">

                                                            <h:panelGrid columns="5"
                                                                         styleClass="table table-striped table-bordered table-condensed"
                                                                         columnClasses="splitThirty">

                                                                <h:outputText value="Data Type" />
                                                                <h:outputText value="Store Count" />
                                                                <h:outputText value="Article Count" />
                                                                <h:outputText value="Article Order Quantity" />
                                                                <h:outputText value="Line Count" />

                                                                <h:outputText value="Invent Data" />
                                                                <h:outputText
                                                                    value="#{dashboardController.upsertStoreCount}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.upsertArticleCount}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.upsertArticleOrder}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.upsertTotalLine}" />

                                                                <h:outputText value="Composed Data In System" />
                                                                <h:outputText
                                                                    value="#{dashboardController.transferStoreCount}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.transferArticleCount}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.transferArticleOrder}" />
                                                                <h:outputText
                                                                    value="#{dashboardController.transferTotalLine}" />


                                                            </h:panelGrid>


                                                        </p:outputPanel>


                                                        <p:dataTable var="transfer" lazy="false"
                                                                     id="InventDataTable" widgetVar="InventDataTable"
                                                                     value="#{dashboardController.inventTransfers}" rows="25"
                                                                     rowStyleClass="#{'old'}" paginator="true"
                                                                     sortBy="#{transfer.transferId}" sortOrder="DESCENDING"
                                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                     rowsPerPageTemplate="25 50 100 *">

                                                            <p:column headerText="Order No"
                                                                      filterBy="#{transfer.siparisNo}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.siparisNo}" />
                                                            </p:column>



                                                            <p:column headerText="Status"
                                                                      style="padding-top:0px; background-color:#{transfer.status.color}; width:170px"
                                                                      filterBy="#{transfer.status}" filterMatchMode="exact">

                                                                <f:facet name="filter">
                                                                    <p:selectOneMenu style="width:100px"
                                                                                     styleClass="custom-filter" dynamic="true"
                                                                                     onchange="PF('InventDataTable').filter()">

                                                                        <f:selectItem itemLabel="Please Select"
                                                                                      itemValue="#{null}" noSelectionOption="true" />

                                                                        <f:selectItems value="#{transferController.statusList}"
                                                                                       var="_status" itemLabel="#{_status}"
                                                                                       itemValue="#{_status}" />

                                                                    </p:selectOneMenu>
                                                                </f:facet>

                                                                <h:outputText value="#{transfer.status}" />

                                                            </p:column>

                                                            <p:column headerText="Art No" filterBy="#{transfer.artNo}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.artNo}" />
                                                            </p:column>



                                                            <p:column headerText="Quantity"
                                                                      filterBy="#{transfer.siparisAdet}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText
                                                                    style="background-color: lightgoldenrodyellow"
                                                                    value="#{transfer.siparisAdet}" />
                                                            </p:column>


                                                            <p:column headerText="Order Entrd"
                                                                      filterBy="#{transfer.siparisGirilen}"
                                                                      filterMatchMode="contains">
                                                                <h:outputText value="#{transfer.siparisGirilen}" />
                                                            </p:column>


                                                        </p:dataTable>

                                                    </div>

                                                </div>
                                            </h:form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.container-fluid -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </h:body>
</html>
