<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>


    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    </f:facet>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One"
          rel="stylesheet"/>

    <title></title>
    <style type="text/css">
        body {
            position: relative;
        }

        .card-header {
            background-color: #f0efef !important;
        }

        .card-header2 {
            width: 570px;
            background-color: #f0efef !important;
        }

        .nav-link {
            padding: 7px 7px !important;
        }

        ul.nav-pills {
            top: 20px;
            position: fixed;
        }

        .icon {
            width: 30px;
        }

        .card-body {
            padding: 0.25rem !important;
        }

        .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
            text-align: center;
            padding: 4px 10px;
            font-size: 18px;
        }

        .table-bordered thead td, .table-bordered thead th {
            border-bottom-width: 2px;
            font-size: 18px;
            text-align: center;
        }

        .ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon,
        .ui-messages-fatal-icon {
            height: 0px !important;
            width: 24px;
            margin-top: -4px;
            width: 24px;
        }

        .ui-growl {
            z-index: 9999 !important;
        }

        .not-create {

            background-color: red;
            background-image: none;
            color: #000000
        }


        @media only screen and (max-width: 1630px) {
        }
    </style>
</h:head>
<h:body style="background-color: #f8f9fa;     font-size: 10px">

    <nav
            style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
            z-index: 1;">

        <img class="logoResponsive displayNone" style="width: 200px;"
             src="logo.png"/>
        <h1 class="logoText displayNone"
            style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
            PROCESS AUTOMATION</h1>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <nav class="col-2"
                 style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item" style="margin-top: 89px; width: 60px"><a
                            class="nav-link  fontSize" href="dashboard.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="dashboard.svg"/>Dashboard</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="transferTable.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="table-solid.svg"/>Transfers</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="stock.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="warehouse-solid.svg"/>Stock</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="logs.xhtml"
                            style="text-align: center;"><img class="icon" src="logs.svg"/>Logs</a>
                    </li>

                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="invent.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Invent</a></li>

                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link active fontSize" href="inventStoreToStore.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Store Invent</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="serviceSync.xhtml"><img class="icon"
                                                          src="synchronization.svg"/>Sync</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link " style="text-align: center" href="settings.xhtml"><img
                            class="icon" src="cogs-solid.svg"/>Settings</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" style="text-align: center"
                            href="articleGroup.xhtml"><img class="icon"
                                                           src="table-solid.svg"/>Article Group Table</a></li>
                </ul>
            </nav>
            <div class="col-12"
                 style="margin-left: 90px; flex: auto; margin-top: 82px">
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">


                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div
                                    class="d-sm-flex align-items-center justify-content-between mb-4"
                                    style="margin-top: 1.5rem;">
                                <h1 class="h3 mb-0 text-gray-800"
                                    style="font-family: 'Open Sans', sans-serif; font-size: 30px;">Store Invent Import</h1>

                            </div>


                            <!-- Content Row -->

                            <div class="row">

                                <div class="col-xl-6 ">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->

                                    </div>
                                </div>

                                <div class="col-xl-6 ">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->

                                    </div>
                                </div>
                            </div>


                            <h:form id="InventForm">


                                <p:growl id="growl" showDetail="true" sticky="false" life="2500"/>

                                <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"
                                        style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Store Invent Import</h6>
                                </div>


                                <div class="card-body"
                                     style="overflow: scroll; height: 600px; width: 100%;">

                                    <div>

                                        <div style="overflow: auto;">

                                            <p:growl id="messages" showDetail="true"/>


                                            <p:fileUpload
                                                    fileUploadListener="#{inventService.handleFileUpload}"
                                                    mode="advanced" dragDropSupport="false" update="messages"
                                                    auto="false" multiple="false" accept=".xlsx"/>

                                            <p:dialog id="requestResultDialog" dynamic="true" modal="true"
                                                      widgetVar="requestResultDialog" closable="true"
                                                      header="Invent File Report" style="margin-top:100px;"
                                                      width="35%" height="600px">

                                                <p:dataTable id="resultTable" var="upsertTransfer"
                                                             value="#{inventService.resultUploadedUpsertTransferOrders}"
                                                             rowStyleClass="#{upsertTransfer.status == -1 ? 'null' : 'not-create'}"
                                                             sortOrder="DESCENDING"
                                                >
                                                    <p:column headerText="Id">
                                                        <h:outputText value="#{upsertTransfer.id}"/>
                                                    </p:column>

                                                    <p:column headerText="To Outlet Id">
                                                        <h:outputText value="#{upsertTransfer.toOutletId}"/>
                                                    </p:column>

                                                    <p:column headerText="Goods Sender Outlet Id">
                                                        <h:outputText value="#{upsertTransfer.goodsSenderOutletId}"/>
                                                    </p:column>

                                                    <p:column headerText="Status">
                                                        <h:outputText value="#{upsertTransfer.status}"/>
                                                    </p:column>

                                                    <p:column headerText="quantity">
                                                        <h:outputText value="#{upsertTransfer.quantity}"/>
                                                    </p:column>
                                                </p:dataTable>


                                                <f:facet name="footer">
                                                    <h:panelGroup style="float:right;">

                                                        <p:commandButton value="Tamam"
                                                                         onclick="PF('requestResultDialog').hide();">
                                                        </p:commandButton>
                                                    </h:panelGroup>
                                                </f:facet>
                                            </p:dialog>


                                            <p:dialog id="resultDialog" dynamic="true" modal="true"
                                                      widgetVar="resultDialog" closable="true"
                                                      header="Invent File Report" style="margin-top:100px;"
                                                      width="35%" height="600px">

                                                <p:ajax event="close"
                                                        listener="#{inventService.cancelInvent()}"/>

                                                <p:outputPanel id="panelImportResult">

                                                    <p:autoUpdate/>
                                                    <h:panelGrid columns="2"
                                                                 styleClass="table table-striped table-bordered table-condensed"
                                                                 columnClasses="splitThirty">

                                                        <f:facet name="header">
                                                            Summary
                                                        </f:facet>

                                                        <h:outputText value="Store Count"/>
                                                        <h:outputText value="#{inventService.storeCount}"/>

                                                        <h:outputText value="Product Type Count"/>
                                                        <h:outputText value="#{inventService.articleCount}"/>

                                                        <h:outputText value="Total Order Quantity Of All Product"/>
                                                        <h:outputText
                                                                value="#{inventService.totalArticleOrderQuantity}"/>

                                                        <h:outputText value="Line Count"/>
                                                        <h:outputText value="#{inventService.totalLine}"/>

                                                        <p:outputLabel for="transferAction" value="Transfer Action :"/>
                                                        <p:selectOneRadio
                                                                value="#{inventService.transferAction}"
                                                                id="transferAction" unselectable="true">
                                                            <p:ajax event="change" update="@this"/>
                                                            <f:selectItem
                                                                    itemDescription="Siparişleri sadece oluşturur."
                                                                    itemLabel="Just create" itemValue="CREATE"/>
                                                            <f:selectItem
                                                                    itemDescription="Siparişleri atanmış olarak oluşturur."
                                                                    itemLabel="Create and assign"
                                                                    itemValue="CREATE_AND_ASSIGN"/>
                                                        </p:selectOneRadio>


                                                        <f:facet name="footer">
                                                            <h:panelGroup style="float:right;">

                                                                <p:commandButton value="Reject"
                                                                                 actionListener="#{inventService.cancelInvent()}"
                                                                                 onclick="PF('resultDialog').hide();"
                                                                                 process="@this">
                                                                </p:commandButton>
                                                                <p:commandButton value="Approve"
                                                                                 actionListener="#{inventService.approveInvent()}"
                                                                                 process="@this"
                                                                                 update="messages"/>
                                                            </h:panelGroup>
                                                        </f:facet>


                                                    </h:panelGrid>

                                                </p:outputPanel>
                                                <br/>

                                                <p:outputPanel id="InsufficientStock">

                                                    <p:autoUpdate/>
                                                    <p:dataTable value="#{inventService.insufficientStock}"
                                                                 var="map">

                                                        <f:facet name="header">
                                                            Insufficient Stock
                                                        </f:facet>

                                                        <p:column headerText="Product Id">
                                                            <h:outputText
                                                                    value="#{map.get('Product Id')}"/>
                                                        </p:column>

                                                        <p:column headerText="Total Order Quantity">
                                                            <h:outputText
                                                                    value="#{map.get('Total Order Quantity')}"/>
                                                        </p:column>

                                                        <p:column headerText="DWH Stock">
                                                            <h:outputText
                                                                    value="#{map.get('DWH Stock')}"/>
                                                        </p:column>


                                                    </p:dataTable>
                                                </p:outputPanel>

                                                <br/>

                                                <p:outputPanel id="panelNotComposedLine">
                                                    <p:autoUpdate/>
                                                    <p:dataTable value="#{inventService.notComposedLines}"
                                                                 var="map">

                                                        <f:facet name="header">
                                                            These orders are not going to be created on the system.
                                                        </f:facet>

                                                        <p:column headerText="Goods Receiver Outlet Id">
                                                            <h:outputText
                                                                    value="#{map.get('Goods Receiver Outlet Id')}"/>
                                                        </p:column>

                                                        <p:column headerText="Product Id">
                                                            <h:outputText
                                                                    value="#{map.get('Product Id')}"/>
                                                        </p:column>

                                                        <p:column headerText="Order Quantity">
                                                            <h:outputText
                                                                    value="#{map.get('Order Quantity')}"/>
                                                        </p:column>

                                                        <p:column headerText="Cause Of Error">
                                                            <h:outputText value="#{map.get('Cause Of Error')}"/>
                                                        </p:column>


                                                    </p:dataTable>
                                                </p:outputPanel>


                                            </p:dialog>


                                            <p:dialog id="errorLineDialog" dynamic="true" modal="true"
                                                      widgetVar="errorLineDialog" closable="true" resizable="true"
                                                      header="Error Lines" style="margin-top:100px;">

                                                <p:outputPanel id="panelInvalidLineResult">
                                                    <p:autoUpdate/>
                                                    <p:dataList value="#{inventService.invalidLines}" var="line"
                                                                type="ordered">
                                                        <f:facet name="header">
                                                            Error Lines - File content is not correct.
                                                        </f:facet>

                                                        #{line}
                                                        <f:facet name="footer">
                                                            Please check , date format or column value is not correct.
                                                            Note : Column value can not be 0. Date format must be yyyy.mm.dd (2019.08.21).
                                                        </f:facet>

                                                    </p:dataList>
                                                </p:outputPanel>
                                            </p:dialog>


                                            <p:dialog id="InformationDialog" dynamic="true" modal="true"
                                                      widgetVar="InformationDialog" closable="false" resizable="false"
                                                      style="margin-top:100px; ">

                                                <f:facet name="header">
                                                    <h1 style="text-align: center;">
                                                        <img class="icon" src="cancel.svg"/>
                                                        Error </h1>
                                                </f:facet>


                                                <p:outputPanel id="informationPanel">
                                                    <p:autoUpdate/>
                                                    <h:outputText
                                                            value="#{inventService.informationDialogMessage}"/>
                                                </p:outputPanel>

                                                <f:facet name="footer">
                                                    <p:commandButton value="Ok"
                                                                     style="width: 80px; height: 30px; float: right; margin-bottom: 1%;"
                                                                     onclick="PF('InformationDialog').hide();"
                                                                     process="@this"
                                                                     update="@this">
                                                    </p:commandButton>
                                                </f:facet>

                                            </p:dialog>

                                        </div>
                                    </div>
                                </div>

                            </h:form>


                            <!-- Content Row -->
                            <div class="row">
                                <!-- Content Column -->
                            </div>

                            <div class="row">
                                <!-- Area Chart -->
                                <div class="col-xl-8">
                                    <div class="card shadow mb-6">
                                        <!-- Card Header - Dropdown -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</h:body>
</html>
