<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>



	<script
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
	</f:facet>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Patua+One"
		rel="stylesheet" />

	<title></title>
	<style type="text/css">
.ui-helper-reset {
	border: 1px solid gray;
}

.ui-state-default {
	color: #000000;
}

.ui-accordion .ui-accordion-header {
	margin-top: 8px;
	padding: 1em .5em 1em 2.2em;
}

.ui-datatable-scrollable-theadclone {
	visibility: collapse;
}

body {
	position: relative;
}

ul.nav-pills {
	top: 20px;
	position: fixed;
}

.nav-link {
	padding: 7px 7px !important;
}

.icon {
	width: 30px;
}

.ui-datatable table {
	table-layout: auto !important;
}

.ui-widget {
	font-size: 12px !important;
}

.ui-accordion .ui-accordion-content {
	padding: 0em 0em !important;
}
</style>
</h:head>
<h:body style="background-color: #f8f9fa ; font-size:10px">

	<nav
		style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px;">

	<img class="logoResponsive displayNone" style="width: 200px;"
		src="logo.png" />
	<h1 class="logoText displayNone"
		style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
		PROCESS AUTOMATION</h1>


	</nav>


	<div class="container-fluid">

		<div class="row">
			<nav class="col-2"
				style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
			<ul class="nav nav-pills flex-column">

				<li class="nav-item" style="margin-top: 89px; width: 60px"><a
					class="nav-link fontSize" style="text-align: center"
					href="dashboard.xhtml"><img class="icon" src="dashboard.svg" />Dashboard</a></li>

				<li class="nav-item " style="margin-top: 10px; width: 60px"><a
					class="nav-link  fontSize" style="text-align: center"
					href="transferTable.xhtml"><img class="icon"
						src="table-solid.svg" />Transfers</a></li>

				<li class="nav-item" style="margin-top: 10px; width: 60px"><a
					class="nav-link fontSize" style="text-align: center"
					href="stock.xhtml"><img class="icon" src="warehouse-solid.svg" />Stock</a></li>

				<li class="nav-item" style="margin-top: 10px; width: 60px"><a
					class="nav-link fontSize" style="text-align: center"
					href="logs.xhtml"><img class="icon" src="logs.svg" />Logs</a></li>

				<li class="nav-item" style="margin-top: 10px; width: 60px"><a
					class="nav-link fontSize" href="invent.xhtml"
					style="text-align: center;"><img class="icon"
						src="excelimport2.png" />Invent</a></li>

				<li class="nav-item" style="margin-top: 10px; width: 60px"><a
						class="nav-link  fontSize" href="inventStoreToStore.xhtml"
						style="text-align: center;"><img class="icon"
														 src="excelimport2.png"/>Store Invent</a></li>


				<li class="nav-item " style="margin-top: 10px; width: 60px"><a
						class="nav-link active fontSize" style="text-align: center"
						href="serviceSync.xhtml"><img class="icon"
													  src="synchronization.svg"/>Sync</a></li>

				<li class="nav-item " style="margin-top: 10px; width: 60px"><a
						class="nav-link fontSize" style="text-align: center"
						href="settings.xhtml"><img class="icon" src="cogs-solid.svg"/>Settings</a></li>

				<li class="nav-item " style="margin-top: 10px; width: 60px"><a
						class="nav-link  fontSize" style="text-align: center"
						href="articleGroup.xhtml"><img class="icon"
													   src="table-solid.svg"/>Article Group Table</a></li>

			</ul>
			</nav>


		</div>
	</div>


	<div class="col-xl-6 " style="margin-left: 250px; margin-top: 100px;">
		<div class="card shadow mb-4" style="width: 1500px;">
			<!-- Card Header - Dropdown -->


			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary"
					style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Sync
					Service</h6>



			</div>
			<!-- Card Body -->
			<div class="card-body" style="overflow: scroll;">
				<div class="chart-pie pt-4 pb-2">

					<h:form id="serviceSyncInfoForm">

						<p:growl id="growl" showDetail="true" sticky="true" />


						<p:dataTable value="#{serviceSyncController.syncInfos}"
							id="serviceSyncInfoId" widgetVar="serviceSyncInfoId"
							var="syncInfo" reflow="true">


							<p:column headerText="Service Name">
								<h:outputText value="#{syncInfo.serviceName}" />
							</p:column>

							<p:column headerText="Start Date">
								<h:outputText value="#{syncInfo.startDate}" />
							</p:column>

							<p:column headerText="End Date">
								<h:outputText value="#{syncInfo.endDate}" />
							</p:column>

							<p:column headerText="Running">
								<h:outputText value="#{syncInfo.running}" />
							</p:column>

							<p:column headerText="Sync" style="width:60px">

								<p:commandButton icon="fa fa-refresh"
									actionListener="#{serviceSyncController.syncStockService(syncInfo)}"
									update="@form:serviceSyncInfoId,messages"
									process="@form:serviceSyncInfoId" />
							</p:column>

						</p:dataTable>

						<p:ajaxStatus onstart="PF('statusDialog').show()"
							oncomplete="PF('statusDialog').hide()" />

						<p:dialog modal="false" widgetVar="statusDialog"
							header="Please Wait" draggable="false" closable="false"
							showEffect="bounce" hideEffect="bounce" resizable="false">
							<p:graphicImage value="../images/ajaxloadingbar.gif" />
						</p:dialog>


                            &nbsp;&nbsp;


						<br />
						<br />
						<br />

						<div style="overflow: auto; width: 100%;"></div>



					</h:form>

					<p:growl id="messages" showDetail="true" />
				</div>

			</div>

		</div>
	</div>

</h:body>
</html>
