<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <script
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    </f:facet>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One"
          rel="stylesheet"/>

    <title>Settings</title>
    <style type="text/css">
        .ui-helper-reset {
            border: 1px solid gray;
        }

        .ui-state-default {
            color: #000000;
        }

        .ui-accordion .ui-accordion-header {
            margin-top: 8px;
            padding: 1em .5em 1em 2.2em;
        }

        .ui-datatable-scrollable-theadclone {
            visibility: collapse;
        }

        body {
            position: relative;
        }

        ul.nav-pills {
            top: 20px;
            position: fixed;
        }

        .nav-link {
            padding: 7px 7px !important;
        }

        .icon {
            width: 30px;
        }

        .ui-datatable table {
            table-layout: auto !important;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        .ui-accordion .ui-accordion-content {
            padding: 0em 0em !important;
        }

        .not-active {
            background-color: red;
            color: lavender;
        }

    </style>
</h:head>
<h:body style="background-color: #f8f9fa ; font-size:10px">

    <nav style="position: sticky;top: 0;z-index: 100;width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px;">

        <img class="logoResponsive displayNone" style="width: 200px;"
             src="logo.png"/>
        <h1 class="logoText displayNone"
            style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
            PROCESS AUTOMATION</h1>


    </nav>


    <div class="container-fluid">

        <div class="row">
            <nav class="col-2"
                 style="background-color: #E0EAFC ;z-index: 1; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item" style="margin-top: 89px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a></li>
                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" style="text-align: center"
                            href="transferTable.xhtml"><img class="icon"
                                                            src="table-solid.svg"/>Transfers</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="invent.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Invent</a></li>

                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" href="inventStoreToStore.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Store Invent</a></li>


                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="serviceSync.xhtml"><img class="icon"
                                                          src="synchronization.svg"/>Sync</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link active fontSize" style="text-align: center"
                            href="settings.xhtml"><img class="icon" src="cogs-solid.svg"/>Settings</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" style="text-align: center"
                            href="articleGroup.xhtml"><img class="icon"
                                                           src="table-solid.svg"/>Article Group Table</a></li>


                </ul>
            </nav>


        </div>
    </div>


    <div class="col-xl-6 " style="max-width: 80%; margin-left: 250px; margin-top: 100px;">
        <div class="card shadow mb-4" style="width: 100%;">
            <!-- Card Header - Dropdown -->


            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"
                    style="font-family: 'Open Sans', sans-serif; font-size: 16px;">Settings
                </h6>


            </div>
            <!-- Card Body -->

            <h:form id="settings">

                <p:importEnum type="com.setek.tr.centralwarehouse.constant.WorkingType" var="workingTypeEnum"
                              allSuffix="ALL_ENUM_VALUES"/>

                <p:ajaxStatus onstart="PF('statusDialog').show()"
                              oncomplete="PF('statusDialog').hide()"/>

                <p:dialog modal="false" widgetVar="statusDialog"
                          header="Please Wait" draggable="false" closable="false"
                          showEffect="bounce" hideEffect="bounce" resizable="false">
                    <p:graphicImage value="../images/ajaxloadingbar.gif"/>
                </p:dialog>

                <p:growl id="growl" showDetail="true" sticky="true"/>

                <p:tabView id="settingsTabView">

                    <p:ajax event="tabChange" listener="#{settingController.init}" process="@form"/>

                    <p:tab id="serviceSettings" title="Service Settings">

                        <p:messages id="settingMessages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <h:panelGrid columns="2" cellpadding="10">


                            <p:dataTable style="margin-left:40px;  width:95%" id="settingsTable"
                                         widgetVar="settingsTable"
                                         value="#{settingController.robobackSettings}" rows="25"
                                         var="robobackSetting" editable="true" editMode="cell"
                                         reflow="true">


                                <p:column headerText="service name">

                                    <p:outputLabel id="serviceNameDisplay"
                                                   value="#{robobackSetting.serviceName.displayName}"
                                                   style="width:96%"/>
                                    <p:tooltip id="serviceNameToolTip" for="serviceNameDisplay"
                                               value="#{robobackSetting.serviceName.description}" position="top"/>

                                </p:column>

                                <p:column headerText="active">

                                    <p:inputSwitch id="settingActiveSwitch"
                                                   styleClass="#{robobackSetting.active ? '':'not-active'}"
                                                   value="#{robobackSetting.active}">
                                        <p:ajax event="change" update="@this"/>
                                    </p:inputSwitch>

                                </p:column>
                                <p:column headerText="daily working type">

                                    <p:inputSwitch id="settingDailySwitch" value="#{robobackSetting.daily}"/>

                                </p:column>

                                <p:column headerText="hour">

                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{robobackSetting.hour}"/>
                                        </f:facet>

                                        <f:facet name="input">
                                            <p:spinner id="rotate" value="#{robobackSetting.hour}" min="1" max="24"
                                                       rotate="true"/>
                                        </f:facet>
                                    </p:cellEditor>

                                </p:column>

                                <p:column headerText="hourly working">

                                    <p:inputSwitch id="settingHourlySwitch" value="#{robobackSetting.hourly}"/>

                                </p:column>

                                <p:column headerText="minute">

                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{robobackSetting.minute}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:spinner id="minute" value="#{robobackSetting.minute}" min="0" max="59"
                                                       rotate="true"/>
                                        </f:facet>
                                    </p:cellEditor>

                                </p:column>

                                <p:column headerText="periodically working">

                                    <p:inputSwitch id="settingPeriodicallySwitch"
                                                   value="#{robobackSetting.periodically}"/>

                                </p:column>

                                <p:column headerText="specified time working">

                                    <p:inputSwitch id="settingWorkBySpecifiedTimeSwitch"
                                                   value="#{robobackSetting.workBySpecifiedTime}"/>

                                </p:column>
                                <p:column headerText="working hours">

                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{robobackSetting.workingHours}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{robobackSetting.workingHours}"
                                                         style="width:96%"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="width: 75px" headerText="Service Trigger">
                                    <p:commandButton
                                            ajax="true" value="Start" action="#{settingController.triggerService()}"
                                            update="settings:growl">
                                        <f:param name="serviceName" value="#{robobackSetting.serviceName}"/>
                                    </p:commandButton>
                                </p:column>

                                <f:facet name="footer">
                                    <p:commandButton
                                            style="margin-left: 94%;margin-bottom: 5px; margin-top: 10px;"
                                            ajax="true" value="Save List" action="#{settingController.save}"
                                            update="settings:settingsTabView:serviceSettings"/>
                                </f:facet>

                            </p:dataTable>
                        </h:panelGrid>

                    </p:tab>


                    <p:tab title="Mail Settings" id="mailSettings">

                        <h:form id="formx">

                            <p:messages id="messages" showDetail="true" closable="true">
                                <p:autoUpdate/>
                            </p:messages>


                            <p:dataTable style="margin-left:40px;  width:95%" id="mailSettingsTable"
                                         rowIndexVar="indice"
                                         widgetVar="mailSettingsTable" value="#{settingController.mailSettings}"
                                         var="mailSetting" editable="true" editMode="row" rowKey="#{mailSetting.id}"
                                         disabledSelection="#{mailSetting.serviceName.displayName == 'Replenishment Orders Report Service' }"
                                         rowHover="true" selection="#{settingController.selectedMailSetting}">

                                <f:facet name="header">
                                    <p:commandButton id="toggler" type="button" value="Columns" style="margin-left: 93%"
                                                     icon="ui-icon ui-icon-gear"/>
                                    <p:columnToggler datasource="mailSettingsTable" trigger="toggler"/>
                                </f:facet>

                                <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                <p:column headerText="Service Name">
                                    <p:outputLabel id="mailSettingServiceNameDisplay"
                                                   value="#{mailSetting.serviceName.displayName}"
                                                   style="width:96%"/>
                                    <p:tooltip id="mailSettingServiceNameToolTip" for="mailSettingServiceNameDisplay"
                                               value="#{mailSetting.serviceName.description}" position="top"/>
                                </p:column>

                                <p:column headerText="Active">
                                    <p:inputSwitch id="mailSettingActiveSwitch" value="#{mailSetting.active}"/>
                                </p:column>

                                <p:column headerText="To Adress">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <ul>
                                                <p:repeat value="#{mailSetting.toAddress}" var="toAddress">
                                                    <li><h:outputText value="#{toAddress}"/></li>
                                                </p:repeat>
                                            </ul>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:chips styleClass="ui-chips-input-token" id="toAddress"
                                                     validator="#{settingController.validate}"
                                                     value="#{mailSetting.toAddress}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Working Type">
                                    <p:selectOneMenu value="#{mailSetting.workingType}">
                                        <f:selectItems value="#{settingController.workingTypes}" var="_type"
                                                       itemLabel="#{_type.name}" itemValue="#{_type}"
                                                       itemDescription="#{_type.description}"/>
                                        <p:ajax event="change"
                                                update="settings:settingsTabView:formx:mailSettingsTable"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column id="workingTimes" headerText="Working Times">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputPanel
                                                    rendered="#{mailSetting.workingType == workingTypeEnum.SPECIFIED_TIMES}">
                                                <ul>
                                                    <p:repeat value="#{mailSetting.workingTimes}" var="time">
                                                        <li><p:outputLabel value="#{time}"/></li>
                                                    </p:repeat>
                                                </ul>
                                            </p:outputPanel>
                                            <p:outputPanel
                                                    rendered="#{mailSetting.workingType == workingTypeEnum.HOURLY || mailSetting.workingType == workingTypeEnum.PERIODICALLY}">
                                                <p:outputLabel
                                                        rendered="#{mailSetting.workingType == workingTypeEnum.PERIODICALLY}">Per
                                                    <p:outputLabel style="align-items: center"
                                                                   value="#{mailSetting.workingMinute}"/> minutes
                                                </p:outputLabel>
                                                <p:outputLabel
                                                        rendered="#{mailSetting.workingType == workingTypeEnum.HOURLY}"><p:outputLabel
                                                        style="align-items: center"
                                                        value="#{mailSetting.workingMinute}"/> past every hour
                                                </p:outputLabel>
                                            </p:outputPanel>
                                        </f:facet>

                                        <f:facet name="input">

                                            <p:outputPanel id="workingTimesOutputPanel">
                                                <p:chips
                                                        rendered="#{mailSetting.workingType == workingTypeEnum.SPECIFIED_TIMES}"
                                                        id="workingTimesChips" required="true"
                                                        validatorMessage="could not be null"
                                                        validator="#{settingController.validateWorkingTimes}"
                                                        styleClass="ui-chips-input-token"
                                                        value="#{mailSetting.workingTimes}"/>
                                                <p:spinner converter="javax.faces.Integer"
                                                           rendered="#{mailSetting.workingType == workingTypeEnum.HOURLY || mailSetting.workingType == workingTypeEnum.PERIODICALLY}"
                                                           id="minMax" value="#{mailSetting.workingMinute}" min="0"
                                                           max="60"/>
                                            </p:outputPanel>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Edit" style="width:35px">
                                    <p:rowEditor/>
                                </p:column>

                                <f:facet name="footer">

                                    <div style="margin-inline-start: 85%;">
                                        <p:commandButton action="#{settingController.triggerMailService}"
                                                         value="Trigger Selected"/>

                                        <p:commandButton style="margin-left: 10px"
                                                         action="#{settingController.saveMailList}" value="Save List"
                                                         id="saveMailList"/>
                                    </div>
                                </f:facet>
                            </p:dataTable>

                        </h:form>
                    </p:tab>
                </p:tabView>

                <p:ajaxStatus onstart="PF('statusDialog').show()"
                              oncomplete="PF('statusDialog').hide()"/>
                <p:dialog modal="false" widgetVar="statusDialog"
                          header="Please Wait" draggable="false" closable="false"
                          showEffect="bounce" hideEffect="bounce" resizable="false">
                    <p:graphicImage value="../images/ajaxloadingbar.gif"/>
                </p:dialog>

            </h:form>
        </div>

    </div>

</h:body>
</html>
