<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=10" />
        </f:facet>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"/>

        <title></title>
        <style type="text/css">
            .ui-widget {

                font-size: 12px!important;

            }
            body {
                position: relative;
            }
            ul.nav-pills {
                top: 20px;
                position: fixed;
            }

            .icon {
                width: 30px;

            }     .nav-link {

                padding: 7px 7px!important;

            }

            .notequal {

                background-color: red ;
                background-image: none;
                color: #000000
            }




        </style>
    </h:head>
    <h:body style="background-color: #f8f9fa;     font-size: 10px">

        <nav
            style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
            z-index: 1;">

            <img class="logoResponsive displayNone" style="width: 200px;"
                 src="logo.png"/>




            <h1 class="logoText displayNone"
                style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
                PROCESS AUTOMATION</h1>





        </nav>
        <div class="container-fluid">
            <div class="row">

                <nav class="col-2"  style="background-color: #E0EAFC ; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                    <ul class="nav nav-pills flex-column">

                        <li class="nav-item" style="margin-top: 89px; width:60px">
                            <a class="nav-link fontSize" href="dashboard.xhtml" style="text-align:center"><img class="icon" src="dashboard.svg"/>Dashboard</a>
                        </li>
                        <li class="nav-item" style="margin-top:10px; width:60px">
                            <a class="nav-link fontSize" href="transferTable.xhtml" style="text-align:center"> <img class="icon" src="table-solid.svg"/>Transfers</a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px; width:60px">
                            <a class="nav-link active fontSize" href="stock.xhtml" style="text-align:center"><img class="icon" src="warehouse-solid.svg"/>Stock</a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px; width:60px">
                            <a class="nav-link fontSize" href="logs.xhtml" style="text-align:center"> <img class="icon" src="logs.svg"/>Logs</a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link fontSize" href="invent.xhtml"
                                style="text-align: center;"><img class="icon" src="excelimport2.png"/>Invent</a>
                        </li>

                        <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                                class="nav-link  fontSize" href="inventStoreToStore.xhtml"
                                style="text-align: center;"><img class="icon"
                                                                 src="excelimport2.png"/>Store Invent</a></li>


                        <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link fontSize"
                                                                                      style="text-align:center"
                                                                                      href="serviceSync.xhtml"><img
                                class="icon"
                                src="synchronization.svg"/>Sync</a></li>

                        <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link  "
                                                                                      style="text-align:center"
                                                                                      href="settings.xhtml"><img
                                class="icon"
                                src="cogs-solid.svg"/>Settings</a></li>
                        <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                                class="nav-link  fontSize" style="text-align: center"
                                href="articleGroup.xhtml"><img class="icon"
                                                               src="table-solid.svg"/>Article Group Table</a></li>
                    </ul>
                </nav>

                <div class="col-12" style="margin-left: 80px;flex: auto;">
                    <div id="section1">
                        <h1 style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;"></h1>

                        <h:form id="stock">

                            &nbsp;


                            <p:outputLabel style="margin-left: 95px;" for="popup"
                                           value="Start Date:"/>&nbsp;

                            <p:calendar id="popup"
                                        value="#{stockController.startDate}"/>
                            &nbsp;&nbsp;
                            <p:outputLabel for="popup2"
                                           value="End Date:" />&nbsp;
                            <p:calendar id="popup2"
                                        value="#{stockController.endDate}" />

                            &nbsp;&nbsp;

                            <p:commandButton value="Filter"
                                             style="  font-size: 32px;"
                                             action="#{stockController.filterIt()}" update="@form">

                            </p:commandButton>


                            <div class="col-12" style="margin-top: 25px">
                                <h:commandLink
                                        action="#{stockController.exportStocksToExcel(stockController.stockLazyDataModel)}"
                                        value="Export To Excel"
                                        style="margin-left:95px; font-family: 'Open Sans', sans-serif;font-size: 12px; color:blue;"> </h:commandLink>

                                <h:commandLink action="#{stockController.export36StocksToExcel}"
                                               value="Export Broken Stock Excel"
                                               style="margin-left:10px; font-family: 'Open Sans', sans-serif;font-size: 12px; color:blue;"> </h:commandLink>
                            </div>
                            <p:ajaxStatus onstart="PF('statusDialog').show()"
                                          oncomplete="PF('statusDialog').hide()"/>

                            <p:dialog modal="false" widgetVar="statusDialog"
                                      header="Please Wait" draggable="false" closable="false"
                                      showEffect="bounce" hideEffect="bounce" resizable="false">
                                <p:graphicImage value="../images/ajaxloadingbar.gif"/>
                            </p:dialog>


                            <div style="overflow: auto; width: 100%;">
                                <p:dataTable style=" margin:0px 90px 90px 90px;"
                                             id="stockDatatable" var="stock" sortOrder="DESCENDING"
                                             value="#{stockController.stockLazyDataModel}" rows="25"
                                             rowStyleClass="#{stock.dwhStock==stock.ekolStock ? 'null' : 'notequal'}"
                                             lazy="true" paginator="true"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="25 100 250 500 *">

                                    <p:column headerText="Article Code"
                                              filterBy="#{stock.articleCode}" filterMatchMode="contains">
                                        <h:outputText value="#{stock.articleCode}" />
                                    </p:column>
                                    <p:column headerText="Ekol Stock" filterBy="#{stock.ekolStock}"
                                              filterMatchMode="contains">
                                        <h:outputText value="#{stock.ekolStock}"/>
                                    </p:column>
                                    <p:column headerText="DWH Stock" filterBy="#{stock.dwhStock}"
                                              filterMatchMode="contains">
                                        <h:outputText value="#{stock.dwhStock}"/>
                                    </p:column>

                                    <p:column headerText="Stock Difference">
                                        <h:outputText
                                                value="#{stockController.findStockDifference(stock.ekolStock,stock.dwhStock)}"/>
                                    </p:column>

                                    <p:column headerText="Stock In Planned" filterBy="#{stock.dwhStock}"
                                              filterMatchMode="contains">
                                        <h:outputText value="#{stock.stockInPlanned}"/>
                                    </p:column>


                                    <p:column headerText="Stock Out Planned" filterBy="#{stock.dwhStock}"
                                              filterMatchMode="contains">
                                        <h:outputText value="#{stock.stockOutPlanned}"/>
                                    </p:column>


                                    <p:column headerText="Ekol Expected Stock" filterBy="#{stock.dwhStock}"
                                              filterMatchMode="contains">
                                        <h:outputText value="#{stock.ekolExpectedStock}" />
                                    </p:column>

                                    <p:column headerText="Control Date"
                                              filterBy="#{stock.controlDate}" filterMatchMode="contains">
                                        <h:outputText value="#{stock.controlDate}" />
                                    </p:column>


                                </p:dataTable>
                            </div>

                        </h:form>

                        <div>
                            <div>


                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </h:body>
</html>
