<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <script
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        //<![CDATA[

        function dateTemplateFunc(date) {
            return '<span style="background-color:' + ((date.day < 21 && date.day > 10) ? '#81C784' : 'inherit') + ';border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">' + date.day + '</span>';
        }

        function enableModality() {
            $('html, body').css('overflow', 'hidden');
        }

        function disableModality() {
            $('html, body').css('overflow', 'auto');
        }

        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {

            $(" #transfer\\:transferDataTable\\:quantityTransfer\\:filter ").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, and enter
                if ( event.keyCode === 46 || event.keyCode === 8 || event.keyCode === 9 || event.keyCode === 27 || event.keyCode === 13 ||
                    // Allow: Ctrl+A
                    (event.keyCode === 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
        });

        //]]>
    </script>

    <style type="text/css">
        .value {
            font-weight: bold;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    </f:facet>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One"
          rel="stylesheet"/>

    <title>Transfer Table</title>
    <style type="text/css">
        .ui-helper-reset {
            border: 1px solid gray;
        }

        .ui-state-default {
            color: #000000;
        }

        .ui-accordion .ui-accordion-header {
            margin-top: 8px;
            padding: 1em .5em 1em 2.2em;
        }

        .ui-datatable-scrollable-theadclone {
            visibility: collapse;
        }

        .ui-inputfield{
            width: 75px;
        }

        body {
            position: relative;
            overflow-x: hidden;
        }

        ul.nav-pills {
            top: 20px;
            position: fixed;
        }

        .nav-link {
            padding: 7px 7px !important;
        }

        .icon {
            width: 30px;
        }

        .ui-datatable table {
            table-layout: auto !important;
        }

        .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
            text-align: right !important;
            padding: 10px 0px;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        .ui-accordion .ui-accordion-content {
            padding: 0em 0em !important;
        }

        .ui-datatable .ui-chkbox.ui-chkbox-all.ui-widget {
            display: none !important;
        }

        .ui-column-customfilter {
            display: contents;
        }

    </style>
</h:head>

<h:body style="background-color: #f8f9fa;     font-size: 10px">

    <nav
            style="width:100%; background-color: white;box-shadow: -9px -7px 12px 0px;padding: 0 0 1px 30px; position: fixed;
            z-index: 1;">

        <img class="logoResponsive displayNone" style="width: 200px;"
             src="logo.png"/>


        <h1 class="logoText displayNone"
            style="font-size: 10px; color: black; padding-left: 36px; margin-top: -20px;">ROBOTIC
            PROCESS AUTOMATION</h1>


    </nav>
    <div class="container-fluid">

        <div class="row">
            <nav class="col-2"
                 style="background-color: #E0EAFC ;z-index: 1; padding:5px; width:70px!important; height: 100vh; position: fixed;top: 69px;">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item" style="margin-top: 89px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="dashboard.xhtml"><img class="icon" src="dashboard.svg"/>Dashboard</a></li>
                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link active fontSize" style="text-align: center"
                            href="transferTable.xhtml"><img class="icon"
                                                            src="table-solid.svg"/>Transfers</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="stock.xhtml"><img class="icon" src="warehouse-solid.svg"/>Stock</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" style="text-align: center"
                            href="logs.xhtml"><img class="icon" src="logs.svg"/>Logs</a></li>
                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link fontSize" href="invent.xhtml"
                            style="text-align: center;"><img class="icon" src="excelimport2.png"/>Invent</a>
                    </li>

                    <li class="nav-item" style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" href="inventStoreToStore.xhtml"
                            style="text-align: center;"><img class="icon"
                                                             src="excelimport2.png"/>Store Invent</a></li>


                    <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link fontSize"
                                                                                  style="text-align:center"
                                                                                  href="serviceSync.xhtml"><img
                            class="icon"
                            src="synchronization.svg"/>Sync</a></li>

                    <li class="nav-item " style="margin-top: 10px; width:60px"><a class="nav-link  "
                                                                                  style="text-align:center"
                                                                                  href="settings.xhtml"><img
                            class="icon"
                            src="cogs-solid.svg"/>Settings</a></li>

                    <li class="nav-item " style="margin-top: 10px; width: 60px"><a
                            class="nav-link  fontSize" style="text-align: center"
                            href="articleGroup.xhtml">
                        <img class="icon"
                             src="table-solid.svg"/>Article Group Table</a></li>
                </ul>
            </nav>


            <div class="col-12 settingMargin"
                 style="margin-left: 100px; margin-right: 50px; flex: auto;">
                <div id="section1">
                    <h1
                            style="text-align: center; padding: 20px 0 50px 0; font-family: 'Patua One', cursive; font-size: 32px;"/>

                    <h:form id="reSendForm">

                        <p:panel header="ReSend Operation" collapsed="false"
                                 rendered="#{transferController.reSendRendered}" closable="false" toggleable="true"
                                 toggleSpeed="1000">
                            <p:panelGrid>

                                <p:inputText id="reSendOrder" placeholder="19000001"
                                             validator="#{transferController.isOrderNoValid}"
                                             value="#{transferController.reSendOrderNo}">
                                    <p:ajax event="keyup" update="message" delay="250"/>
                                    <h:outputLabel for="reSendOrder" value="Order No :"/>
                                </p:inputText>

                                <br/>
                                <br/>
                                <p:messages id="message" showDetail="true" closable="true">
                                </p:messages>

                                <p:commandButton value="ReSendOrder" id="sender" update="message"
                                                 action="#{transferController.reSendOrderOperation}"
                                                 style="margin-right:20px;" styleClass="ui-priority-primary">
                                    <p:confirm header="ReSendOrder" message="Sipariş Tekrar gönderilecek. Emin misiniz?"
                                               icon="ui-messages-info-icon"/>
                                </p:commandButton>

                                <p:confirmDialog severity="alert" global="true" showEffect="fade" hideEffect="fade"
                                                 responsive="true">
                                    <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="ui-icon-check"/>
                                    <p:commandButton value="Hayır" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="ui-icon ui-icon-closethick"/>
                                </p:confirmDialog>
                            </p:panelGrid>
                        </p:panel>
                    </h:form>


                    <h:form id="transfer">
                        <p:growl id="growl" showDetail="true" sticky="false" life="6500"/>
                        <p:outputLabel for="popup" value="Start Date:"/>&nbsp;

                        <p:calendar id="popup" pattern="dd.MM.yyyy"
                                    value="#{transferController.startDate}"/>
                        &nbsp;&nbsp;
                        <p:outputLabel for="popup2"
                                       value="End Date:"/>&nbsp;
                        <p:calendar id="popup2" pattern="dd.MM.yyyy"

                                    value="#{transferController.endDate}"/>
                        <p:commandButton value="Filter"
                                         style=" padding: 3px 0 3px 0; font-size: 32px; margin-left: 15px;"
                                         action="#{transferController.filterIt()}"
                                         update="@form:transferDataTable"/>

                        <h:commandLink
                                action="#{transferController.exportTransfersToExcelinSomeRange(transferController.transferLazyDataModel)}"
                                value="Export To Excel"
                                style="margin-left:1000px; font-family: 'Open Sans', sans-serif;font-size: 12px; color:blue;">
                        </h:commandLink>

                        <h:commandLink action="#{transferController.setReSendRendered}"
                                       value="ReSend Order"
                                       style="margin-left:20px; font-family: 'Open Sans', sans-serif;font-size: 12px; color:blue;">

                        </h:commandLink>


                        <p:ajaxStatus onstart="PF('statusDialog').show()"
                                      oncomplete="PF('statusDialog').hide()"/>

                        <p:dialog modal="false" widgetVar="statusDialog"
                                  header="Please Wait" draggable="false" closable="false"
                                  showEffect="bounce" hideEffect="bounce" resizable="false">
                            <p:graphicImage value="../images/ajaxloadingbar.gif"/>
                        </p:dialog>


                        <br/>
                        <br/>
                        <br/>
                        <div style="overflow: scroll; width: 95%;">


                            <p:dataTable var="transfer" lazy="true" id="transferDataTable"
                                         widgetVar="transferDataTable"
                                         value="#{transferController.transferLazyDataModel}" rows="25"
                                         rowStyleClass="#{'old'}" paginator="true"
                                         sortBy="#{transfer.transferId}" sortOrder="DESCENDING"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="25 100 250 500 *">


                                <p:column id="orderNo" headerText="Order No" filterBy="#{transfer.siparisNo}"
                                          filterMatchMode="contains" style="width:50px;padding-top:20px;">
                                    <h:outputText value="#{transfer.siparisNo}"/>
                                </p:column>


                                <p:column headerText="Order Type" style="padding-top:20px;"
                                          filterBy="#{transfer.siparisTipi}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.siparisTipi}"/>
                                </p:column>


                                <p:column headerText="Store Code" style="padding-top:20px;"
                                          filterBy="#{transfer.storeCode}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.storeCode}"/>
                                </p:column>


                                <p:column headerText="Outlet Id" style="padding-top:20px;"
                                          filterBy="#{transfer.outletId}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.outletId}"/>
                                </p:column>


                                <p:column headerText="Status"
                                          style="padding-top:20px; background-color:#{transfer.status.color}; width:170px"
                                          filterBy="#{transfer.status}" filterMatchMode="exact">

                                    <f:facet name="filter">
                                        <p:selectOneMenu style="width:170px"
                                                         styleClass="custom-filter" dynamic="true"
                                                         onchange="PF('transferDataTable').filter()">

                                            <f:selectItem itemLabel="Please Select" itemValue="#{null}"
                                                          noSelectionOption="true"/>

                                            <f:selectItems value="#{transferController.statusList}"
                                                           var="_status" itemLabel="#{_status.statusName}" itemValue="#{_status}"/>

                                            <!--  <p:ajax event="change" process="@this" update="transferDataTable"  /> -->

                                        </p:selectOneMenu>
                                    </f:facet>

                                    <h:outputText value="#{transfer.status.statusName}"/>

                                </p:column>


                                <p:column headerText="Ekol Status" style="padding-top:20px;  width:75px"
                                          filterBy="#{transfer.ekolStatus}" filterMatchMode="exact">

                                    <f:facet name="filter">
                                        <p:selectOneMenu style="width:75px"
                                                         styleClass="custom-filter" dynamic="true"
                                                         onchange="PF('transferDataTable').filter()">

                                            <f:selectItem itemLabel="Please Select" itemValue="#{null}"
                                                          noSelectionOption="true"/>

                                            <f:selectItems value="#{transferController.ekolStatusList}"
                                                           var="_status" itemLabel="#{_status.statuName}"
                                                           itemValue="#{_status.statuName}"/>

                                            <!--  <p:ajax event="change" process="@this" update="transferDataTable"  /> -->

                                        </p:selectOneMenu>
                                    </f:facet>

                                    <h:outputText value="#{transferController.getStatuName(transfer.ekolStatus)}"/>
                                </p:column>


                                <!--<p:column headerText="Order Condition"
                                          filterBy="#{transfer.siparisDurum}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.siparisDurum}"/>
                                </p:column>-->

                                <p:column headerText="Order Condition" style="padding-top:20px;  width:75px"
                                          filterBy="#{transfer.siparisDurum}" filterMatchMode="exact">

                                    <f:facet name="filter">
                                        <p:selectOneMenu style="width:75px"
                                                         styleClass="custom-filter" dynamic="true"
                                                         onchange="PF('transferDataTable').filter()">

                                            <f:selectItem itemLabel="Please Select" itemValue="#{null}"
                                                          noSelectionOption="true"/>

                                            <f:selectItems value="#{transferController.conditionsList}"/>
                                        </p:selectOneMenu>
                                    </f:facet>

                                    <h:outputText value="#{transfer.siparisDurum}"/>
                                </p:column>

                                <p:column headerText="Art No" filterBy="#{transfer.artNo}"
                                          filterMatchMode="contains" style="width:95px;padding-top:20px;">
                                    <h:outputText value="#{transfer.artNo}"/>
                                </p:column>

                                <!--<p:column headerText="Art Condition"
                                          filterBy="#{transfer.artDurum}" filterMatchMode="contains">

                                    <h:outputText value="#{transfer.artDurum}"/>
                                </p:column>-->

                                <p:column headerText="Art Condition" style="padding-top:20px;  width:75px"
                                          filterBy="#{transfer.artDurum}" filterMatchMode="exact">

                                    <f:facet name="filter">
                                        <p:selectOneMenu style="width:75px"
                                                         styleClass="custom-filter" dynamic="true"
                                                         onchange="PF('transferDataTable').filter()">

                                            <f:selectItem itemLabel="Please Select" itemValue="#{null}"
                                                          noSelectionOption="true"/>

                                            <f:selectItems value="#{transferController.conditionsList}"/>
                                        </p:selectOneMenu>
                                    </f:facet>

                                    <h:outputText value="#{transfer.artDurum}"/>
                                </p:column>


                                <p:column headerText="Quantity of Order" id="quantityOfOrder"
                                          filterBy="#{transfer.siparisAdet}" filterMatchMode="contains">

                                    <f:facet name="header">

                                        <h:outputLabel id="hi" for="siparisAdet" style="font: bold"
                                                       value="Quantity Of Order"/>


                                        <p:selectOneMenu id="siparisAdet" style="display:inline-flex; width:40%;"
                                                         styleClass="custom-filter" dynamic="true"
                                                         value="#{transferController.transferLazyDataModel.filterProps.get('siparisAdet')}"
                                                         valueChangeListener="#{transferController.onChange}">
                                            <f:selectItems value="#{transferController.getFilterOptions()}" var="item"
                                                           itemLabel="item.key" itemValue="item.value"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="filter">
                                        <h:inputText styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default"
                                                     style="display:inline-block!important;width: 60%!important;"
                                                     onchange="PF('transferDataTable').filter()"/>
                                    </f:facet>


                                    <h:outputText style="background-color: lightgoldenrodyellow"
                                                  value="#{transfer.siparisAdet}"/>
                                </p:column>


                                <p:column headerText="Entered By Store"
                                          filterBy="#{transfer.siparisGirilen}"
                                          filterMatchMode="contains">

                                    <f:facet name="header">

                                        <h:outputLabel id="siparisGirilenLabel" for="siparisGirilen" style="font: bold"
                                                       value="Entered By Store"/>

                                        <p:selectOneMenu id="siparisGirilen" style="display:inline-flex; width:40%;"
                                                         styleClass="custom-filter" dynamic="true"
                                                         value="#{transferController.transferLazyDataModel.filterProps.get('siparisGirilen')}"
                                                         valueChangeListener="#{transferController.onChange}">
                                            <f:selectItems value="#{transferController.getFilterOptions()}" var="item"
                                                           itemLabel="item.key" itemValue="item.value"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="filter">
                                        <h:inputText styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default"
                                                     style="display:inline-block!important;width: 60%!important;"
                                                     onchange="PF('transferDataTable').filter()"/>
                                    </f:facet>

                                    <h:outputText value="#{transfer.siparisGirilen}"/>
                                </p:column>


                                <p:column headerText="Entered By Ekol"
                                          filterBy="#{transfer.ekolGirilen}" filterMatchMode="contains">
                                    <f:facet name="header">

                                        <h:outputLabel id="ekolGirilenLabel" for="siparisGirilen" style="font: bold"
                                                       value="Entered By Ekol"/>

                                        <p:selectOneMenu id="ekolGirilen" style="display:inline-flex; width:40%;"
                                                         styleClass="custom-filter" dynamic="true"
                                                         value="#{transferController.transferLazyDataModel.filterProps.get('ekolGirilen')}"
                                                         valueChangeListener="#{transferController.onChange}">
                                            <f:selectItems value="#{transferController.getFilterOptions()}" var="item"
                                                           itemLabel="item.key" itemValue="item.value"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="filter">
                                        <h:inputText styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default"
                                                     style="display:inline-block!important;width: 60%!important;"
                                                     onchange="PF('transferDataTable').filter()"/>
                                    </f:facet>

                                    <h:outputText value="#{transfer.ekolGirilen}"/>
                                </p:column>


                                <p:column headerText="Quantity Transfer" id="quantityTransfer"
                                          filterBy="#{transfer.siparisTransfer}" filterMatchMode="contains">
                                    <f:facet name="header">

                                        <h:outputLabel id="siparisTransferLabel" for="siparisGirilen" style="font: bold"
                                                       value="Quantity Transfer"/>

                                        <p:selectOneMenu id="siparisTransfer" style="display:inline-flex; width:40%;"
                                                         styleClass="custom-filter" dynamic="true"
                                                         value="#{transferController.transferLazyDataModel.filterProps.get('siparisTransfer')}"
                                                         valueChangeListener="#{transferController.onChange}">
                                            <f:selectItems value="#{transferController.getFilterOptions()}" var="item"
                                                           itemLabel="item.key" itemValue="item.value"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="filter">
                                        <h:inputText styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default"
                                                     style="display:inline-block!important;width: 60%!important;"
                                                     onchange="PF('transferDataTable').filter()"/>
                                    </f:facet>


                                    <h:outputText value="#{transfer.siparisTransfer}"/>
                                </p:column>


                                <p:column headerText="Order Type Code"
                                          filterBy="#{transfer.orderTypeCode}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.orderTypeCode}"/>
                                </p:column>


                                <p:column headerText="Last Changer" style="padding-top:20px;  width:150px"
                                          filterBy="#{transfer.sonDegistiren}" filterMatchMode="exact" >

                                    <f:facet name="filter">
                                        <p:selectOneMenu style="width:105px"
                                                         styleClass="custom-filter" dynamic="true"
                                                         onchange="PF('transferDataTable').filter()">

                                            <f:selectItem itemLabel="Please Select" itemValue="#{null}"
                                                          noSelectionOption="true"/>

                                            <f:selectItems value="#{transferController.lastChangerList}"/>
                                        </p:selectOneMenu>
                                    </f:facet>

                                    <h:outputText value="#{transfer.sonDegistiren}"/>
                                </p:column>


                                <!--<p:column headerText="Last Changer"
                                          filterBy="#{transfer.sonDegistiren}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.sonDegistiren}"/>
                                </p:column>-->





                                <!--                                <h:outputText for="range" value="Date Of Creation"/>&nbsp;-->



                                <p:column headerText="Date Of Creation"
                                          filterBy="#{transfer.olusturmaTarihi}"
                                          filterStyle="width: 75px"
                                          filterMatchMode="contains"
                                          style="width:75px">

                                    <f:facet style="width: 75px" name="filter">
                                        <p:calendar id="dataTable" style="width:75px" pattern="yyyy-MM-dd" mode="popup" navigator="true">
                                            <p:ajax event="dateSelect" oncomplete="PF('transferDataTable').filter()" update="dataTable" />
                                            <p:ajax event="change" execute="@this" oncomplete="PF('transferDataTable').filter()" update="dataTable"/>
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{transfer.olusturmaTarihi}">
                                    </h:outputText>
                                </p:column>

                                <!--<p:column filterBy="#{transfer.olusturma_tarihi}" headerText="Date Of Creation" footerText="contains" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:selectOneButton onchange="PF('transferDataTable').filter()" styleClass="custom-filter">
                                            <f:converter converterId="javax.faces.DateTime" />
                                            <f:selectItem itemLabel="Yesterday" itemValue="2020-06-25">
                                                <p:calendar id="dataTable" pattern="yyyy-MM-dd" mode="popup" navigator="true" >
                                                    <p:ajax event="click" oncomplete="PF('transferDataTable').filter()" update="dataTable" />
                                                    <p:ajax event="change" execute="@this" oncomplete="PF('transferDataTable').filter()" update="dataTable"/>
                                                </p:calendar>
                                            </f:selectItem>
                                            <f:selectItem itemLabel="Today" itemValue="2020-06-20" >
                                                <p:calendar id="dataTable" pattern="yyyy-MM-dd" mode="popup" navigator="true" >
                                                    <p:ajax event="click" oncomplete="PF('transferDataTable').filter()" update="dataTable" />
                                                    <p:ajax event="change" execute="@this" oncomplete="PF('transferDataTable').filter()" update="dataTable"/>
                                                </p:calendar>
                                            </f:selectItem>
                                        </p:selectOneButton>
                                    </f:facet>
                                    <h:outputText value="#{transfer.olusturma_tarihi}"/>
                                </p:column>-->

                                <p:column headerText="Supplier No"
                                          filterBy="#{transfer.saticiNo}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.saticiNo}"/>
                                </p:column>


                                <p:column headerText="Delivery No" style="padding-top:20px;"
                                          filterBy="#{transfer.irsaliyeNo}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.irsaliyeNo}"/>
                                </p:column>
                                <p:column headerText="Supplier Name" style="padding-top:20px;"
                                          filterBy="#{transfer.saticiAdi}" filterMatchMode="contains">
                                    <h:outputText value="#{transfer.saticiAdi}"/>
                                </p:column>

                                <p:column headerText="The Shipment Date"
                                          filterBy="#{transfer.sevkTarihi}"
                                          filterStyle="width: 75px;"
                                          filterMatchMode="contains"
                                          style="width:75px"
                                >
                                    <f:facet name="filter" >
                                        <p:calendar id="shipmentDate"  pattern="yyyy-MM-dd" mode="popup" navigator="true">
                                            <p:ajax event="dateSelect" oncomplete="PF('transferDataTable').filter()" update="dataTable" />
                                            <p:ajax event="change" execute="@this" oncomplete="PF('transferDataTable').filter()" update="dataTable"/>
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{transfer.sevkTarihi}">
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="The Process Date"
                                          filterStyle="width: 75px;"
                                          filterBy="#{transfer.processDate}" filterMatchMode="contains"
                                          style="width:75px">
                                    <f:facet name="filter">
                                        <p:calendar id="processDate" pattern="yyyy-MM-dd" mode="popup" navigator="true">
                                            <p:ajax event="dateSelect" oncomplete="PF('transferDataTable').filter()"
                                                    update="dataTable"/>
                                            <p:ajax event="change" execute="@this"
                                                    oncomplete="PF('transferDataTable').filter()" update="dataTable"/>
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText style="width: 75px" value="#{transfer.processDate}"/>
                                </p:column>


                                <p:column style="width:40px; text-align:center; font-size: 11px;"
                                          headerText="Options">
                                    <p:menuButton icon="ui-icon-gear"
                                                  disabled="#{!transferController.isEditable(transfer)}">
                                        <p:menuitem value="Order Cancel" icon="fa fa-edit"
                                                    actionListener="#{transferController.tcos.openDialog(transfer)}"
                                                    oncomplete="PF('orderCancelDialog').show();"
                                                    update="@form:orderCancelDialog:orderEditTable"/>

                                        <p:menuitem value="Order Edit" icon="fa fa-edit"
                                                    actionListener="#{transferController.teos.openDialog(transfer)}"
                                                    oncomplete="PF('orderEditDialog').show();"
                                                    update="@form:orderEditDialog:orderCancelTable"/>
                                    </p:menuButton>

                                </p:column>


                            </p:dataTable>

                        </div>

                        <!-- ################################## ORDER CANCEL DIALOG ######################################################### -->
                        <p:dialog id="orderCancelDialog" widgetVar="orderCancelDialog"
                                  header="Cancel Order" dynamic="true" height="500px"
                                  closable="true" resizable="true" onShow="enableModality();"
                                  onHide="disableModality();">

                            <p:ajax event="close" update="@form" listener="#{transferController.tcos.closeDialog()}"/>

                            <div style="overflow: auto; width: 100%; height: 100%;">


                                <p:dataTable id="orderCancelTable" rows="25"
                                             widgetVar="orderCancelTable" scrollHeight="true"
                                             rowKey="#{transfer.transferId}" scrollable="true"
                                             value="#{transferController.tcos.transfersForCancel}" var="transfer">

                                    <p:column headerText="Order No">
                                        <h:outputText value="#{transfer.siparisNo}"/>
                                    </p:column>

                                    <p:column headerText="Order Type">
                                        <h:outputText value="#{transfer.siparisTipi}"/>
                                    </p:column>

                                    <p:column headerText="Status"
                                              style="background-color:#{transfer.status.color};">
                                        <h:outputText value="#{transfer.status}"/>
                                    </p:column>

                                    <p:column headerText="Ekol Status">
                                        <h:outputText
                                                value="#{transferController.getStatuName(transfer.ekolStatus)}"/>
                                    </p:column>


                                    <p:column headerText="Order Condition">
                                        <h:outputText value="#{transfer.siparisDurum}"/>
                                    </p:column>

                                    <p:column headerText="Art No">
                                        <h:outputText value="#{transfer.artNo}"/>
                                    </p:column>

                                    <p:column headerText="Art Condition">
                                        <h:outputText value="#{transfer.artDurum}"/>
                                    </p:column>


                                    <p:column headerText="Quantity of Order">
                                        <h:outputText value="#{transfer.siparisAdet}"/>
                                    </p:column>


                                    <p:column headerText="Order Entered">
                                        <h:outputText value="#{transfer.siparisGirilen}"/>
                                    </p:column>

                                </p:dataTable>

                                <div>


                                </div>
                            </div>
                            <f:facet name="footer">
                                <p:commandButton value="Cancel Order"
                                                 action="#{transferController.tcos.startProcess()}"
                                                 style=" height: 50px;width: 100px; margin-top:10px;"
                                                 update="@form">
                                    <p:confirm message="Are you sure?"/>
                                </p:commandButton>

                                <p:confirmDialog header="Cancel Order" global="true" showEffect="fade"
                                                 hideEffect="fade" closable="false">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>

                            </f:facet>

                        </p:dialog>


                        <!-- ########################################## ORDER EDİT DIALOG ################################################# -->

                        <p:dialog id="orderEditDialog" widgetVar="orderEditDialog"
                                  header="Edit Order" dynamic="true"  height="500px"
                                  closable="true" resizable="true">

                            <p:ajax event="close" update="@form" listener="#{transferController.teos.closeDialog()}"/>

                            <!--                            <div style="overflow:auto; width: 100%; height: 100%;">-->
                            <p:dataTable id="orderEditTable" rows="25"
                                         widgetVar="orderEditTable" editable="false"
                                         rowKey="#{transfer.transferId}"
                                         selection="#{transferController.teos.selectedTransferList}"
                                         value="#{transferController.teos.transferList}" var="transfer"
                                         rowSelectMode="checkbox">

                                <p:column headerText="Order No" style="width:85px">
                                    <h:outputText value="#{transfer.siparisNo}"/>
                                </p:column>

                                <p:column headerText="Order Type">
                                    <h:outputText value="#{transfer.siparisTipi}"/>
                                </p:column>

                                <p:column headerText="Status"
                                          style="padding-top:20px; background-color:#{transfer.status.color};">

                                    <h:outputText value="#{transfer.status}"/>

                                </p:column>


                                <p:column headerText="Ekol Status">
                                    <h:outputText
                                            value="#{transferController.getStatuName(transfer.ekolStatus)}"/>
                                </p:column>


                                <p:column headerText="Order Condition">
                                    <h:outputText value="#{transfer.siparisDurum}"/>
                                </p:column>

                                <p:column headerText="Art No" filterBy="#{transfer.artNo}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{transfer.artNo}"/>
                                </p:column>

                                <p:column headerText="Art Condition">

                                    <h:outputText value="#{transfer.artDurum}"/>
                                </p:column>


                                <p:column headerText="Quantity of Order">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{transfer.siparisAdet}"/>
                                        </f:facet>

                                        <f:facet name="input">
                                            <p:inputText value="#{transfer.siparisAdet}"/>
                                        </f:facet>

                                    </p:cellEditor>
                                </p:column>


                                <p:column headerText="Order Entered">
                                    <h:outputText value="#{transfer.siparisGirilen}"/>
                                </p:column>

                                <p:column selectionMode="multiple"
                                          selectRow="false" style="width:16px;"/>

                            </p:dataTable>

                            <div>
                                <p:commandButton value="Cancel Lines"
                                                 actionListener="#{transferController.teos.startProcess()}"
                                                 style=" height: 50px;width: 100px; margin-top:10px;"
                                                 update="@form">
                                    <p:confirm message="Are you sure?"/>
                                </p:commandButton>

                                <p:confirmDialog header="Cancel Lines" global="true" showEffect="fade"
                                                 hideEffect="fade" closable="false">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>
                            </div>
                            <!--                            </div>-->

                        </p:dialog>


                    </h:form>

                    <p:growl id="messages" sticky="6500" showDetail="true" widgetVar="messages"/>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>
